%div{ data: { component: "nested-form-object", index: index } }

  = f.fields_for :trainings_attributes, training, index: index do |ci|
    .three-inputs
      = ci.input :name, collection: days_collection_for_select
      = ci.input :time_start
      = ci.input :time_end
    = ci.input :group_id, as: :hidden
    = ci.input :id, as: :hidden
    = ci.input :_destroy, as: :hidden, input_html: { data: { role: "destroy-input" } }
    
  %a{ href: "#", title: t("helpers.remove"), data: { role: "toggle-remove", :"restore-text" => t("helpers.restore") } }
    %span.remove Usuń
    %span.restore Przywróć
    
  .clearfix