= link_to "Zapisz się na zajęcia", groups_path, class: "btn"
%p Jeżeli chcesz zrezygnować z zajęć, prosimy, wypisz się przynajmniej 3 godziny wcześniej. Dzięki!

- if @meetings.any?

  %table.meetings-table
    %thead
      %tr
        %th Data
        %th Godzina
        %th Status
        %th Grupa
        %th Ilość zapisanych osób
        %th
    %tbody
      - @meetings.each do |meeting|
        %tr
          %td= meeting.event_at_date
          %td= meeting.event_at_time
          %td= meeting.sign_up_message(current_user)
          %td= "#{meeting.group.name} (#{meeting.group.number})"
          %td.users-count-cell
            %span= "#{meeting.users.count} / #{meeting.max_users_count}"
            = meeting.users_count(with_number: false)
          %td= link_to "Zrezygnuj", cancel_user_meeting_path(current_user, meeting), method: :delete,
            data: { confirm: "Czy na pewno chcesz się wypisać z zajęć?" }, class: "btn"


- else
  %strong Aktualnie nie jesteś zapisany na żadne zajęcia.