%table.messages-table
  %thead
    %th Data
    %th Tytuł
    %th Wiadomość
    %th Status
    %th
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.created_at
        %td= message.title
        %td= message.short_content
        %td.status= message.status
        %td
          .message-actions-wrapper
            - if message.fresh?
              = link_to "Przeczytane", read_message_path(message), method: :post, class: "action-link"
            = link_to "Zobacz więcej", message_path(message), class: "action-link"