%section.message-item
  .message-title
    %span Tytuł:
    %span= @message.title
  .message-content
    %span Wiadomość:
    %span= @message.content
  .message-author
    %span Email nadawcy:
    %span= @message.email
  
  = link_to "Powrót do wiadomości", messages_path, class: "back-link"