- @breadcrumb = "Lista zapisanych osób"
- if @meetings.any?
  - @meetings.each do |meeting|
    %table.meetings-table.admin
      %thead
        %tr
          %th.title{ colspan: 4 }
            %span= meeting.event_at_formatted
            %span= meeting.group.name
            %span= "(#{meeting.users.count} zapisanych osób)"
        %tr
          %th
          %th Imię i nazwisko
          %th Email
          %th Data zapisania
          %th
      %tbody
        - meeting.users.sign_up_list.decorate.each_with_index do |user, index|
          - index = index + 1
          %tr{ class: position_class(index) }
            %td= index
            %td= user.full_name
            %td= user.email
            %td= user.subscribe_date(meeting)
            %td