= admin_menu(inline: true) do
  = admin_link_to "new", "Dodaj pytanie", new_faq_path, method: :get if can? :create, Faq
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page

%ol.questions-list
  - @faqs.map(&:question).each_with_index do |question, index|
    %li.question-item{ id: "question-#{index+1}" }= link_to question, faqs_path(id: index+1)


%ul.faqs-list
  - @faqs.each_with_index do |faq, index|
    %li.faq-item{ id: "faq-#{index+1}" }
      .faq-question= faq.question
      .faq-answer= faq.answer.html_safe
      = admin_menu do
        = admin_link_to "edit", "Edytuj pytanie", edit_faq_path(faq), method: :get if can? :edit, Faq
        = admin_link_to "delete", "Usuń pytanie", faq_path(faq), data: { confirm: "Czy na pewno chcesz usunąć to pytanie?" }, method: :delete if can? :destroy, Faq
.clearfix