= admin_menu(inline: true) do
  = admin_link_to "new", "Dodaj zawodnika", new_fighter_path, method: :get if can? :create, Fighter
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page

%ul.fighters-list{ data: { masonry: "true" } }
  - @fighters.each do |fighter|
    %li.fighter-item
      .fighter-photo= image_tag fighter.image.thumb.url, alt: fighter.name
      .fighter-description{ data: { role: "fighter-description" } }
        %span.name= fighter.name
        - if fighter.description.present?
          %span.description= fighter.description.html_safe 
      = admin_menu do
        = admin_link_to "edit", "Edytuj zawodnika", edit_fighter_path(fighter), method: :get if can? :edit, Fighter
        = admin_link_to "delete", "Usuń zawodnika", fighter_path(fighter), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć tego zawodnika?" } if can? :destroy, Fighter
      
.clearfix