- @breadcrumb = t(".sign_up_header")

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email,
      label: t("user.email"),
      required: true,
      autofocus: true,
      input_html: { autocomplete: "email" }
    = f.input :first_name, label: t("user.first_name")
    = f.input :last_name, label: t("user.last_name")
    = f.input :password,
      label: t("user.password"),
      required: true,
      hint: t("user.password_hint")
    = f.input :password_confirmation,
      required: true,
      label: t("user.password_confirmation")

  .form-actions
    = f.button :submit, t(".sign_up")
    = render "devise/shared/links"
