= admin_menu(inline: true) do
  = admin_link_to "new", "Dodaj karnet", new_pass_path if can? :create, Pass
  = admin_link_to "new", "Dodaj partnera", new_partner_path if can? :create, Pass
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page

%section.partners
  %h1= t(".partners")
  %ul.partners-list
    - @partners.each do |partner|
      %li.partner-item
        = link_to partner.link do
          = image_tag partner.image.default.url, alt: partner.name
        = admin_menu do
          = admin_link_to "delete", "Usuń partnera", partner_path(partner), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć partnera?" } if can? :destroy, Pass
.separating-line
%section.passes
  %table.schedule
    %tbody
      - @passes.each do |pass|
        %tr
          %td.pass-name= pass.name
          %td.pass-price= price_format(pass.price)
          %td
            = pass.description.try(:html_safe)
            = admin_menu do
              = admin_link_to "edit", "Edytuj karnet", edit_pass_path(pass) if can? :edit, Pass
              = admin_link_to "delete", "Usuń karnet", pass_path(pass), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć ten karnet?" } if can? :destroy, Pass
