%section.personal-trainings
  %h2= t(".price_list")
  %table.personal-trainings
    %thead
      %tr
        %th.empty
        %th{ colspan: 3 }= t(".count_per_month")
      %tr
        %th= t(".coach")
        %th= t(".standard_package_price")
        %th= t(".small_package_price")
        %th= t(".premium_package_price")
    %tbody
      - @coaches.each do |coach|
        %tr
          %td= coach.name
          %td= coach.standard_package_price
          %td= coach.small_package_price
          %td= coach.premium_package_price

.separating-line

%section.coaches
  %h2= t(".coaches")
  %ul.coaches-list
    - @coaches.each do |coach|
      %li.coach-item
        .coach-photo= image_tag coach.image.default.url, alt: "coach.name"
        .coach-name= coach.name
        .coach-description= coach.description.try(:html_safe)
    %li.coach-item
  .clearfix