$inputs: 'input[type="text"], input[type="search"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select'

$grey: #2c2c2c
$middle-grey: #7a7a7a
$light-grey: #f1f1f1
$light-grey-background: #f8f8f8

$yellow: #f9c631
$light-yellow: #FFF5D8
$dark-yellow: darken(#f9c631, 5%)

$green: #a0c17c
$red: #c94343

$beginner-level: $green
$advanced-level: #c94343
$middle-level: #e8921f
$mixed-level: #24add8
$youth-level: #bd8dda

$border-grey-color: #e7e7e7
$dark-border-grey-color: #464646

$play-font: "roboto"

=icons-background
  background-image: image-url("icons-sprite.svg")
  html.no-svg &
    background-image: image-url("icons-sprite.png")

$icons: (grey-gear, yellow-gear, small-yellow-right-arrow, small-grey-right-arrow, small-yellow-left-arrow, small-grey-left-arrow, mail, phone, address, menu)
$big-icons: (left-yellow-arrow, right-yellow-arrow, left-grey-arrow, right-grey-arrow, top-light-grey-arrow, top-grey-arrow)

=all-icons
  +icons-background
  @for $i from 1 through length($icons)
    &.#{nth($icons, $i)}
      background-position: -25px * ($i - 1) 0
  @for $i from 1 through length($big-icons)
    &.#{nth($big-icons, $i)}
      width: 50px
      height: 50px
      background-position: -50px * ($i - 1) -25px

=unstyled-list
  padding: 0
  margin: 0
  list-style: none
