@import "mixins"

.admin-form
  width: 600px
  margin: 0 auto

.menu-dropdown-wrapper
  position: absolute
  top: 3px
  right: 3px
  z-index: 1
  i.icon
    display: block
  menu.admin
    display: none
    position: absolute
    right: 0
    text-align: right
    a
      white-space: nowrap
  &:hover
    z-index: 2
    menu.admin
      display: block

menu.admin
  +unstyled-list
  &.inline
    margin: 20px 0
    li
      display: inline-block
    a
      text-decoration: none
      display: block
      background-color: $light-yellow
      color: $grey
      padding: 3px 6px
      &:hover
        background-color: $yellow
  &.dropdown
    z-index: 1
    border: 1px solid $border-grey-color
    padding: 4px 0
    background-color: white
    li
      display: block
      padding: 0
      &:hover a
        color: $grey
    a
      color: $grey
      text-decoration: none
      font-size: 14px
      line-height: normal
      text-transform: none
      display: block
      padding: 2px 8px

.admin-panel-menu
  max-width: 1100px
  margin: 0 auto
  menu.admin
    margin: 0
