@import "mixins"

.clearfix
  clear: both

.page-wrapper
  margin: 0 auto
  max-width: 1100px

.left-column
  width: 70%
  margin-right: 5%
  float: left
  position: relative

.right-column
  width: 25%
  float: left
  &.equal
    width: 45%

section.three-columns
  .left-column
    width: 30%
    margin-right: 5%
  .middle-column
    float: left
    width: 30%
    margin-right: 5%
  .right-column
    width: 30%

section.two-columns
  .left-column
    width: 50%
    margin-right: 5%
    float: left
  .right-column
    float: left
    width: 45%

i.icon
  display: inline-block
  width: 25px
  height: 25px
  +all-icons

nav.pagination
  margin-top: 20px
  text-align: center
  a
    text-decoration: none
    color: $grey
  span.page
    display: inline-block
    padding: 2px 5px
    &:hover
      background-color: $light-grey
    &.gap:hover
      background-color: white
  span.current
    background-color: $grey
    color: white
    &:hover
      background-color: $grey

  span.next, span.last, span.prev, span.first
    a:hover
      color: $yellow
  span.next
    margin: 0 8px 0 4px
  span.prev
    margin: 0 4px 0 8px

[data-role=sortable]
  &.ui-sortable
    [data-role=sortable-list] > li, [data-role=sortable-list] > tr
      outline: 1px dashed $yellow
  &.ui-sortable-disabled
    [data-role=sortable-list] > li, [data-role=sortable-list] > tr
      outline: none

a.more
  text-decoration: none
  color: $grey
  position: relative
  display: inline-block
  float: right
  padding-right: 30px
  height: 25px
  line-height: 25px
  .icon
    position: absolute
    bottom: 0
    right: 0
  .small-yellow-right-arrow
    display: block
  .small-grey-right-arrow
    display: none
  &:hover
    .small-yellow-right-arrow
      display: none
    .small-grey-right-arrow
      display: block

[data-role=add-object]
  background-color: $yellow
  padding: 4px 8px
  font-size: 14px
  text-decoration: none
  color: $grey

[data-component=nested-form-object]
  margin-top: 15px
  padding: 10px
  border: 2px dashed $yellow
  span.restore
    display: none
  &.removed
    span.remove
      display: none
    span.restore
      display: inline-block
    .three-inputs
      position: relative
      height: 77px
      &:before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background-color: rgba(255,255,255,0.8)
        z-index: 1
      &:after
        content: ""
        position: absolute
        background-image: image-url("zigzag.png")
        background-repeat: repeat-x
        right: 10px
        left: 10px
        height: 30px
        top: 50%
        margin-top: -15px
        z-index: 2

[data-role=toggle-remove]
  margin-right: 10px
  background-color: $yellow
  padding: 4px 8px
  font-size: 14px
  text-decoration: none
  color: $grey

[data-role=scroll-top-element]
  position: fixed
  top: 50%
  right: 10%
  display: none
  cursor: pointer
  .top-grey-arrow
    display: none
  &:hover
    .top-light-grey-arrow
      display: none
    .top-grey-arrow
      display: block
  &.visible
    display: block

.back-link
  display: block
  text-align: center
  padding-top: 20px
  margin-top: 40px
  border-top: 1px solid $border-grey-color
  text-decoration: none
  color: $grey
  &:hover
    text-decoration: underline

.action-link
  text-decoration: none
  color: $grey
  padding: 3px 5px
  border: 1px solid $border-grey-color
  &:hover
    border-color: $green

table.schedule, table.personal-trainings
  width: 100%
  margin-top: 50px
  th
    text-transform: uppercase
  td, th
    border: 1px solid $border-grey-color
    padding: 20px 10px
    text-align: center
  th.empty
    border: 0
    background-color: inherit
