@import "mixins"

section.calendar
  table
    width: 100%
    margin-top: 30px
    border-collapse: separate
    border-spacing: 2px
  th
    text-transform: uppercase
    vertical-align: middle
    align: center
    width: 60px
    padding: 10px
    background-color: $grey
    color: white
  td
    text-align: left
    height: 150px
    width: 150px
    vertical-align: top
    font-size: 14px
    background-color: $light-grey
    position: relative
  .day-wrapper
    padding: 5px
    height: 100%

  .date
    font-size: 20px
    margin-bottom: 12px
    padding: 3px 6px
    display: inline-block
    &.event
      background-color: $yellow
  .day.past
    .day-wrapper
      &:before
        content: ""
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background-color: $light-grey
        z-index: 1
      &:after
        content: ""
        position: absolute
        background-image: image-url("zigzag.png")
        background-repeat: repeat-x
        right: 10px
        left: 10px
        height: 30px
        top: 50%
        margin-top: -15px
        z-index: 2
        
        
  .day.today
    .day-wrapper
      border: 3px dashed $green
  .city-and-title-wrapper
    text-align: center
    a
      color: $grey
      text-decoration: none
      &:hover
        color: $yellow
  .event-title
    padding: 0 5px
  .event-city
    text-transform: uppercase
    color: white
    background-color: $grey
    padding: 1px 5px
    margin: 10px 0
    display: inline-block
  .event-gap
    width: 35px
    height: 35px
    background-image: image-url("cell_gap.png")
    background-repeat: no-repeat
    position: absolute
    top: 50%
    left: 50%
    margin: -16px
    
    
.calendar-heading
  text-align: center
  span
    margin: 0 10px
  a
    text-decoration: none
    color: $grey
    display: inline-block
    padding: 0 7px
    &:hover
      background-color: $light-grey
    