@import "mixins"

.coaches-list
  +unstyled-list
  margin-top: 50px
  
.coach-item
  float: left
  width: 30%
  margin-right: 5%
  position: relative
  &:last-child
    margin-right: 0

.coach-photo img
  width: 200px
  height: 200px
  display: block
  border-radius: 50%
  margin: 0 auto
  
.coach-name
  font-size: 22px
  text-transform: uppercase
  margin: 40px 0 20px 0
  color: $yellow


.coach-description
  font-size: 14px
