@import "mixins"

.ask-question
  textarea
    min-height: 180px
  form
    background-color: $light-yellow
    padding: 20px
    .btn
      background-color: $yellow
      &:hover
        color: white
        background-color: $grey
    
#map
  width: 100%
  height: 300px
  border: 1px solid $border-grey-color
  
section.contact
  position: relative
  &:before,
    content: ""
    position: absolute
    top: 0
    bottom: 0
    width: 1px
    background-color: $border-grey-color
    left: 50%

  .email
    a
      color: $grey
    
.before-ask-tip
  font-size: 12px
  a
    color: $green
    
.messages-table
  width: 100%
  td, th
    border: 1px solid $border-grey-color
    padding: 10px
    &.status
      text-align: center
.message-status
  padding: 2px 6px
  border-radius: 3px
  &.fresh
    background-color: $green
  &.read
    background-color: $border-grey-color

.message-item
  width: 600px
  margin: 0 auto
.message-title
  font-size: 20px
  font-weight: bold
  margin-bottom: 10px
.message-content
  margin-bottom: 30px
  
.message-actions-wrapper
  white-space: nowrap