@import "mixins"

section.event
  padding: 0 100px

.event-header
  background-image: image-url("light-pattern.jpg")
  padding: 20px
  
.event-date
  float: left
  width: 15%

.event-date-wrapper
  text-align: right
  padding: 5px 20px 5px 0
  border-right: 3px solid $yellow
  .day
    font-size: 40px
    display: block
    font-weight: bold
  .month
    display: block
    margin-top: -10px
    font-weight: bold
  .day-of-week
    display: inline-block
    font-size: 14px
  .time
    display: inline-block
    margin-left: 5px
    padding-left: 5px
    font-size: 14px
    border-left: 2px solid $grey
    
.event-details
  float: left
  width: 85%
  h1
    display: block
    float: left
    margin-left: 20px
    font-size: 20px
    margin: 0 20px
    width: 100%
    margin-left: 20px
  .venue
    float: left
    width: 100%
    margin-left: 20px
    padding: 5px 0
  .city
    float: left
    margin-left: 20px
    background-color: $grey
    padding: 4px 10px
    color: white
    text-transform: uppercase
    
.event-description-wrapper
  padding: 20px
  border: 1px solid $light-grey
  .description
    float: left
    width: 580px
  .image
    float: right
  

