@import "mixins"

.faqs-list
  +unstyled-list
  
.questions-list
  margin-bottom: 60px

.question-item a
  margin-bottom: 5px
  color: $grey
  &:hover
    color: $yellow
    
.faq-item
  float: left
  width: 525px
  margin: 0 50px 50px 0
  background-color: $light-grey-background
  position: relative
  &:nth-child(2n)
    margin-right: 0
  &:nth-child(2n+1)
    clear: left
    
  
.faq-question
  padding: 20px 20px 0 20px
  text-transform: uppercase
  font-weight: bold
  font-size: 18px

.faq-answer
  padding: 20px
  font-size: 14px