@import "mixins"

.fighters-list
  +unstyled-list
  margin-right: -10px
  
.fighter-item
  float: left
  position: relative
  overflow: hidden
  padding-bottom: 10px
  
.fighter-photo
  img
    display: block

.fighter-item
  .fighter-description
    position: absolute
    left: 0
    width: 227px
    padding: 20px
    text-decoration: none
    background-color: rgba(255,255,255,0.7)
    line-height: 20px
    transition: top 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000)
    .name
      display: block
    .description
      font-size: 14px
      margin-top: 20px
      display: block
    ul
      margin: 0
      padding: 0 0 0 25px
      list-style-type: disc
  &:hover
    .fighter-description
      top: 0 !important
      
    