@import "mixins"
  
#{unquote($inputs)}
  border: 1px solid $border-grey-color
  padding: 6px 12px
  box-sizing: content-box
  width: 100%
  font-size: 14px
  &:focus
    outline: none
    border: 1px solid $yellow
    
abbr[title]
  border-bottom: none
  
.input
  margin-bottom: 20px
  margin-right: 26px
  &.enum
    select
      width: calc(100% + 24px)
  
button, .btn
  border: none
  background-color: $yellow
  width: 100%
  padding: 8px 10px
  font-size: 16px
  text-decoration: none
  color: $grey
  &:active, &:focus
    outline: none
  &:hover
    background-color: $dark-yellow
  
.label
  margin-bottom: 5px
  font-size: 14px
    
label.checkbox
  margin-right: 6px

form
  padding: 0 200px
  &.login-form
    padding: 0 100px

.form-inputs
  padding: 20px
  border: 1px solid $border-grey-color

.form-actions
  text-align: center
  margin-top: 30px
  input
    width: auto
    
.two-inputs, .three-inputs
  > .input
    float: left
    margin-left: 3%
    &:first-child
      margin-left: 0
  &:after
    content: ""
    display: block
    clear: both
  
  
.three-inputs > .input
  width: 27%
    
.two-inputs > .input
  width: 43%
    
select
  height: 31px
  
select.time, select.datetime
  width: 60px

span.hint
  font-size: 12px
  font-style: italic
  margin-left: 10px
  color: $green
  
[data-role=image-preview]
  height: 150px
  img
    max-height: 100%
    max-width: 100%

.simple_form
  .alert.alert-error
    color: #c94343
    padding: 5px 0
    text-transform: uppercase
  .field
    .error
      color: #c94343
      font-size: 12px

.btn.sign-up-btn
