@import "mixins"

[data-role=gallery-carousel]
  width: 100%
  height: 100%

.gallery-list
  +unstyled-list
  margin-right: -10px
  ul
    +unstyled-list
  
.gallery-item
  padding-bottom: 10px
  position: relative
  overflow: hidden
  float: left
  width: 267px
  &:nth-child(4n+1)
    clear: left
  img
    display: block
    filter: grayscale(1)
    -moz-filter: grayscale(1)
    -o-filter: grayscale(1)
    -ms-filter: grayscale(1)
    -webikit-transition: -webkit-filter 0.3s linear
    -moz-transition: -moz-filter 0.3s linear
    -o-transition: -o-filter 0.3s linear
    -ms-transition: -ms-filter 0.3s linear
  &:hover
    img
      filter: grayscale(0)
      -moz-filter: grayscale(0)
      -o-filter: grayscale(0)
      -ms-filter: grayscale(0)
    .album-title
      top: 0
  .album-title
    position: absolute
    top: -50px
    left: 0
    width: 100%
    height: 50px
    text-decoration: none
    color: $light-grey
    background-color: rgba(44,44,44,0.8)
    line-height: 50px
    transition: top 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000)
    span
      display: block
      padding: 0 20px
      
.gallery-footer
  position: absolute
  bottom: 30px
  right: 30px
  left: 30px
  
.main-gallery-wrapper
  width: 100%
  height: 100%
  
.album-link
  position: relative
  display: block
    
.album-list
  +unstyled-list
  width: 100%
  height: 100%
  position: relative
  
.album-item
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  text-align: center
  background-color: white
  z-index: 1
  img
    max-height: 100%
    max-width: 100%
  &.current
    z-index: 2
  
.gallery-nav
  position: relative

  
[data-role=gallery-nav-wrapper]
  width: 800px
  height: 160px
  overflow: hidden
  position: relative
  
[data-role=gallery-nav]
  margin-top: 20px
  +unstyled-list
  position: absolute
  left: 0
  top: 0
  transition: left 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000)
  
[data-role=gallery-nav-item]
  float: left
  position: relative
  img
    display: block
  &:after
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,0.4)
  &.current:after, &:hover:after
    display: none
    
[data-role=gallery-nav-prev], [data-role=gallery-nav-next]
  position: absolute
  top: 50%
  margin-top: -12px
  cursor: pointer
  &.hidden
    display: none
    
[data-role=gallery-prev], [data-role=gallery-next]
  position: absolute
  top: 50%
  margin-top: -25px
  cursor: pointer
  &.hidden
    display: none
  
[data-role=gallery-nav-prev]
  left: -18px

[data-role=gallery-prev]
  left: -60px
  
[data-role=gallery-nav-next]
  right: -18px

[data-role=gallery-next]
  right: -60px

.gallery-title
  font-size: 12px
  margin-top: 20px
  text-transform: uppercase
  border-top: 1px solid $light-grey
  padding-top: 5px
  
    