@import "mixins"

// Slider

.slide-wrapper
  height: 500px
  width: 100%
  position: relative
  overflow: hidden

.circle-navigation
  position: absolute
  left: 50%
  bottom: 20px
  z-index: 2
  .circle
    width: 14px
    height: 14px
    display: inline-block
    border-radius: 50%
    border: 2px solid $yellow
    &.current
      background-color: $yellow



.slides-list
  +unstyled-list
  position: relative

.slide-item
  position: absolute
  left: 100%
  right: 0
  width: 100%
  img
    width: 100%
    display: block
  &.current
    left: 0
    opacity: 1
    z-index: 1
    transition: opacity 0.5s ease-in-out
  &.left, &.next
    opacity: 0
    z-index: -1


.carousel-navigation
  .next, .prev
    position: absolute
    top: 50%
    margin-top: -25px
    z-index: 2
  .prev
    left: 50px
  .next
    right: 50px
  .icon
    cursor: pointer

.home-info-boxes
  background-image: image-url("light-pattern.jpg")

.home-info-boxes-wrapper
  max-width: 1100px
  margin: 0 auto
  padding: 60px 0

.home-info-box
  float: left
  width: 30%
  margin-right: 4%
  &.last
    margin-right: 0
  h1
    font-size: 20px
    text-transform: uppercase
    margin: 0
    background-color: $grey
    color: white
    display: inline-block
    padding: 2px 10px
  p
    font-size: 14px
    line-height: 20px
    margin: 20px 0
    color: $grey
    text-shadow: 0 2px white

.home-photo-wrapper
  text-align: center
  padding: 50px 0
  a
    text-decoration: none

.home-photo
  width: 200px
  height: 200px
  border-radius: 50%
  background-repeat: no-repeat
  display: inline-block
  margin-right: 120px
  &.first
    background-image: image-url("photo_1.jpg")
  &.middle
    background-image: image-url("photo_2.jpg")
  &.last
    background-image: image-url("photo_3.jpg")
    margin-right: 0
