@import "mixins"

body
  font-family: $play-font

.main-content
  max-width: 1100px
  margin: 0 auto
  padding: 40px 0
  min-height: 300px

h2
  font-size: 18px
  text-transform: uppercase

h1.form
  font-size: 22px
  text-transform: uppercase
  margin: 0 0 60px 200px


.top-header-menu-wrapper
  height: 36px
  line-height: 35px
  background-color: #191919

.top-header-menu
  max-width: 1100px
  margin: 0 auto
  ul
    +unstyled-list
  li
    display: inline-block
  a
    color: #cacaca
    text-decoration: none
  .sign-in-button
    padding: 4px 10px
    background-color: $yellow
    color: #191919
    margin-left: 20px
    font-size: 13px
    text-transform: uppercase
    &:hover
      background-color: $dark-yellow

.header-navigation-wrapper
  height: 100px
  line-height: 100px
  background-color: $grey
  border-bottom: 1px solid black

.header-navigation
  max-width: 1100px
  margin: 0 auto
  position: relative
  .logo
    position: absolute
    top: 20px
    left: 0
  a
    color: #cacaca
    font-size: 14px
    text-decoration: none
    text-transform: uppercase
    display: block
  ul
    +unstyled-list
    float: right
  .main-page
    float: left
    padding: 0 20px
    border-right: 1px solid black
    background-color: $grey
    transition: background-color 200ms linear
    position: relative
    &:first-child
      border-left: 1px solid black
    &:hover, &.current
      background-color: $yellow
      transition: background-color 400ms linear
      > span > a
        color: $grey
  .subpages-wrapper
    position: absolute
    z-index: 10
    left: 0
    top: 100px
    padding-top: 5px
    display: none
    &.visible
      display: block
  .subpages
    border: 1px solid black
  .subpage
    display: block
    border: none
    height: auto
    line-height: normal
    background-color: $grey
    transition: background-color 200ms linear
    span
      display: block
    a
      padding: 15px
      color: #cacaca
      display: block
      white-space: nowrap
    &:hover
      background-color: $yellow
      transition: background-color 400ms linear
      > span > a
        color: $grey

.main-header-navigation
  position: relative

.breadcrumbs-wrapper
  height: 100px
  line-height: 100px
  background-color: $yellow
  border-bottom: 1px solid #cacaca

.breadcrumbs
  max-width: 1100px
  margin: 0 auto
  h1
    margin: 0

footer.main-footer
  background-color: $grey
  margin-top: 50px
  bottom: 0
  .footer-wrapper
    margin: 0 auto
    padding: 20px 0
    max-width: 1100px
  .link-to-main-page
    color: $yellow
    margin-right: 25px
    float: left
    text-decoration: none

.footer-pages-list
  +unstyled-list
  position: relative
  float: left

.footer-page-item
  font-size: 14px
  display: inline-block
  margin: 0 5px
  a
    color: $middle-grey
    text-decoration: none
    text-transform: uppercase
    &:hover
      color: $light-grey

.main-footer-nav
  position: relative
  .facebook-icon
    position: absolute
    top: -5px
    right: 10px

.footer-separating-line
  border-top: 1px solid $middle-grey
  margin: 20px 0

.footer-contact
  +unstyled-list
  li
    color: $light-grey
    margin-bottom: 8px
    .icon
      float: left
    span
      float: left
      margin: 3px 0 0 6px
    &:after
      content: ""
      display: block
      clear: both

.copyrights
  font-size: 12px
  color: $middle-grey

.footer-block
  width: 25%
  float: left
  margin: 20px 8% 20px 0
  font-size: 14px
  ul
    +unstyled-list
  li
  a
    text-decoration: none
    color: $middle-grey
    display: block
    padding: 8px 0
    border-bottom: 1px solid $dark-border-grey-color
    &:hover
      color: $light-grey

h1.footer
  color: $yellow
  font-size: 14px
  font-weight: normal
  text-transform: uppercase

.top-header-menu-left
  float: left
  .switch-languages-buttons
    +unstyled-list
    font-size: 14px
    float: left
    li
      float: left
    a
      padding: 0 5px
      display: block
      transition: color 0.5s linear
      &:hover
        color: $yellow
    .facebook-icon
      margin-left: 15px
      height: 30px
      img
        height: 22px
        width: 22px
        margin-top: 4px

.top-header-menu-right
  float: right


.flash-message
  max-width: 1100px
  margin: 10px auto
  padding: 6px 0
  color: white
  text-align: center
  position: relative
  .close
    position: absolute
    top: 5px
    right: 12px
    text-decoration: none
    color: white
    margin-top: -4px
    &:after
      content: "×"
      font-size: 20px
  &.notice
    background-color: $green
  &.alert
    background-color: $red

.separating-line
  border-top: 1px solid $light-grey
  margin: 50px 0

section.page-content
  background-color: $light-grey-background
  padding: 40px 80px

#min-menu
  float: right
  border: 1px solid white
  height: 25px
  line-height: 25px
  border-radius: 3px
  margin-top: 6px
  margin-right: 10px
  z-index: 999
  display: none

.devise-links
  display: block
  font-size: 14px
  text-align: center
  a
    color: dimgrey
    text-decoration: none
    &:last-child:after
      display: none
    &:after
      content: '•'
      display: inline-block
      padding: 0 10px
    &:hover
      text-decoration: underline
  .or
    display: block
    padding: 10px 0
    color: #cacaca

.user-panel-menu
  +unstyled-list
  float: left
  li
    margin-left: 6px
    a
      padding: 0 5px
      text-transform: uppercase
      font-size: 14px
      &:hover
        color: $yellow

.online-registration-btn-wrapper
  position: relative
  max-width: 1100px
  margin: 0 auto
  top: 0
  bottom: 0

.online-registration-btn
  background-color: $yellow
  display: inline-block
  font-size: 26px
  padding: 10px 30px
  position: absolute
  z-index: 22
  color: #191919
  top: 100px
  line-height: 22px
  text-transform: uppercase
  font-weight: bold
  span
    display: block
    float: left
    height: 50px
    line-height: 50px
    vertical-align: middle
  .icon
    margin-left: 15px
  &:hover
    background-color: $dark-yellow