@import "mixins"

.meetings-table
  width: 100%
  td, th
    border: 1px solid #e7e7e7
    padding: 20px 10px
    text-align: center
  th
    text-transform: uppercase
  .users-count-cell
    position: relative
    text-align: right
  .meeting-users-count
    bottom: 0
    border-bottom: 0
    font-size: 18px
  .registration-info, .reserve-list-info
    padding: 5px 0
    color: white
  .registration-info
    background-color: $green
  .reserve-list-info
    background-color: $red

.meetings-date-range
  display: block
  text-align: center
  font-size: 22px

.meetings-table.admin
  margin-bottom: 30px
  td, th
    padding: 3px 5px
  th.title
    background-color: #cacaca
  .reservation
    background-color: $red