@import "mixins"


section.news-posts
  .left-column
    width: 65%
    &:after
      content: ""
      top: 0
      bottom: 0
      width: 1px
      background-color: $border-grey-color
      position: absolute
      right: -30px
  .right-column
    width: 30%

.news-posts-list
  +unstyled-list
  
.news-post-item
  margin-top: 80px
  padding: 20px 50px 20px 120px
  background-color: $light-grey-background
  position: relative
  
.news-post-day
  color: white
  text-align: center
  font-size: 30px
  margin-top: 10px
  font-weight: bold

.news-post-month
  color: white
  text-align: center
  font-size: 14px

.news-post-content
  font-size: 14px
  line-height: 20px
  
.news-post-image
  margin-top: 30px
  
.news-post-calender
  width: 80px
  height: 80px
  background-color: $grey
  position: absolute
  top: -40px
  left: -100px
  
.news-post-title
  float: left
  font-size: 22px
  text-transform: uppercase
  
.news-post-header
  margin-bottom: 15px
  position: relative
  
.comments-list
  +unstyled-list
  margin: 50px auto 0 auto
  
.comments-wrapper
  margin-top: 30px
  transition: height 600ms linear
  overflow: hidden
  &.hidden
    height: 30px !important
    overflow: hidden
    transition: height 600ms linear
  
.comment-item
  margin-bottom: 40px
  position: relative

.comment-content
  background-color: $light-yellow
  padding: 10px
  clear: right
  font-size: 14px
  
.comment-author-wrapper
  margin-bottom: 3px
  font-size: 12px
  display: inline-block
  padding: 2px 10px

.comment-author
  font-size: 14px
  color: $yellow
  
.show-comments-link-wrapper
  text-align: center
  
.show-comments-link
  color: $grey
  text-decoration: none
  display: inline-block
  width: 185px
  text-align: center
  padding: 2px 0
  background-color: $yellow
    

section.add-comment
  width: 543px
  margin: 60px auto 0 auto
  form
    background-color: $light-yellow
    padding: 20px
  textarea
    min-height: 80px
  
.news-posts-events
  +unstyled-list
  
.news-post-event-item
  background-image: image-url("light-pattern.jpg")
  margin-bottom: 20px
  padding: 8px 10px
  border: 1px $grey dashed
  position: relative
  nav.event
    position: absolute
    right: 5px
    top: 50%
    margin-top: -12px
    .small-grey-right-arrow
      display: block
    .small-yellow-right-arrow
      display: none
  &:hover
    border-color: $yellow
    nav.event
      .small-grey-right-arrow
        display: none
      .small-yellow-right-arrow
        display: block
  a
    color: $grey
  .city
    text-transform: uppercase
    color: white
    background-color: $grey
    padding: 1px 5px
  .date
    float: left
    text-align: right
    width: 20%
    margin-right: 5%
    line-height: 24px
  .event-content
    float: left
    width: 75%
    font-size: 14px
    line-height: 24px
  .day
    font-size: 30px
    display: block
    font-weight: bold
  .month
    font-size: 14px
  .title
    display: block
    
.news-posts-events-footer
  margin-top: 40px
  
 
