@import "mixins"

section.passes
  max-width: 900px
  margin: 0 auto 30px auto
  .pass-name
    width: 30%
    background-color: $light-yellow
    text-transform: uppercase
  .pass-price
    width: 20%
  td
    position: relative

.partners-list
  +unstyled-list

.partner-item
  display: inline-block
  margin: 0 10px
  position: relative

section.partners
  h1
    font-size: 16px
    margin-bottom: 40px
    font-weight: normal
    text-transform: uppercase
