@import "mixins"

@media (max-width: 1200px)
  .home-info-boxes-wrapper
    padding: 60px 20px
  footer.main-footer .footer-wrapper
    padding: 20px
  .main-content
    padding: 20px
  .breadcrumbs-wrapper
    padding: 0 20px

@media (max-width: 900px)
  .main-content
    min-height: auto
  .home-photo
    width: 150px
    height: 150px
    margin-right: 80px
    background-size: cover

@media (max-width: 700px)
  table.schedule
    font-size: 14px
  .partner-item
    display: block
    img
      display: block
      width: 150px
      margin: 0 auto
  .faq-item
    float: none
    margin: 20px 0
    width: auto
  .faq-question
    font-size: 16px  
  .questions-list
    margin-bottom: 30px
  .breadcrumbs-wrapper
    height: 40px
    line-height: 40px
    margin-top: 71px
    h1
      font-size: 16px
  .video-item iframe
    width: auto !important
  .circle-navigation
    left: 34%
    bottom: 6px
  .carousel-navigation
    .prev
      left: 10px
    .next
      right: 10px
  .slide-wrapper
    margin-top: 71px
  #min-menu
    display: block
  .main-header
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 99
  .header-navigation-wrapper
    height: 40px
    line-height: 40px
  .header-navigation
    .logo
      top: 3px
      left: 10px
      img
        height: 32px
    .subpages-wrapper
      padding-top: 0
    .subpages
      border: 0
    .subpage
      a
        padding: 6px
      &:hover
        background-color: #2c2c2c
        > span > a
          color: $yellow
    .subpages-wrapper
      display: block
      position: static
    ul
      float: none
    .main-header-navigation
      z-index: 20
      position: absolute
      top: 21px
      width: 100%
      opacity: 0
      height: 0
      overflow: hidden
      transition: all 0.3s linear
      line-height: 30px
      &.visible
        opacity: 1
        top: 41px
        height: auto
        transition: all 0.3s linear
    .main-page
      float: none
      text-align: center
      &:hover, &.current
        background-color: #2c2c2c
        > span > a
          color: $yellow

@media (max-width: 680px)
  .two-inputs > .input
    width: 165px
    float: none
    margin: 10px 0
  section.add-comment
    width: auto
    form
      padding: 10px
  section.news-posts
    .left-column, .right-column
      width: 100%
      float: none
  section.page-content
    padding: 20px 40px
  section.contact
    &:before, &:after
      display: none
  section.three-columns
    .left-column, .middle-column, .right-column
      width: 100%
      margin: 0
      p
        margin: 5px 0
  .coach-item
    float: none
    width: 100%
    margin-right: 0
  .home-photo
    width: 120px
    height: 120px
    margin-right: 30px
  footer.main-footer
    margin-top: 0

@media (max-width: 460px)
  .news-post-calender
    width: 100px
    height: 60px
    left: 50%
    margin-left: -50px
    top: -30px
  .news-post-day
    margin-top: 7px
    font-size: 22px
  .news-post-title
    font-size: 18px
  .news-post-month
    font-size: 12px
  .news-post-header
    padding-top: 30px
  .news-post-item
    padding: 0 20px 20px 20px
    margin-top: 46px
  section.page-content
    padding: 20px
  .home-info-boxes-wrapper
    padding: 20px
  .home-info-box
    float: none
    width: 100%
    margin: 0 0 40px 0
  .home-photo-wrapper
    padding: 0
  .home-photo
    display: block
    margin: 15px auto
    &.last
      margin: 10px auto
  .footer-block
    width: 100%
    float: none
  section.calendar
    .date
      font-size: 16px
    th
      width: auto
      padding: 2px
      font-size: 14px
    td
      width: auto
      height: 80px
    .day-wrapper
      padding: 2px
    .event-gap
      margin-top: -5px
      width: 22px
      height: 22px
      background-size: cover
