@import "mixins"

table.schedule
  width: 100%
  margin-top: 50px
  th
    text-transform: uppercase
  td, th
    border: 1px solid $border-grey-color
    padding: 20px 10px
    text-align: center
    position: relative
  .hour
    font-size: 22px
  .minute
    font-size: 14px
  .group-number
    font-size: 22px
  td.group
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 15px
    &.advanced:after
      background-color: $advanced-level
    &.beginner:after
      background-color: $beginner-level
    &.middle:after
      background-color: $middle-level
    &.mixed:after
      background-color: $mixed-level
    &.youth:after
      background-color: $youth-level
  td.last-cell
    position: relative

  td.training-day
    .sign-up-link
      display: none
      .sign-up
        font-weight: bold
        display: block
      .sign-up-date
        color: #a5a5a5
        font-size: 13px
        display: block
    &:hover
      .sign-up-link
        display: block
        position: absolute
        z-index: 2
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: white
        text-decoration: none
        border: 2px dashed lightblue
        color: inherit
        padding-top: 10px
  .reserve-list-info, .registration-info
    margin-top: 8px
    text-transform: uppercase
    font-size: 12px
  .reserve-list-info
    color: red
  .registration-info
    color: green




.group-color
  display: inline-block
  width: 20px
  height: 20px

.group-color.beginner
  background-color: $beginner-level

.group-color.middle
  background-color: $middle-level

.group-color.advanced
  background-color: $advanced-level

.group-color.mixed
  background-color: $mixed-level

.group-color.youth
  background-color: $youth-level

.meeting-users-count
  position: absolute
  top: 0
  left: 0
  right: 0
  text-align: right
  font-size: 12px
  padding: 2px 3px
  border-bottom: 1px solid $border-grey-color
  .users-count-bar
    background-color: lightblue
    position: absolute
    left: 0
    top: 0
    z-index: -1
    bottom: 0