@import "mixins"

.slideshow.overlay
  position: fixed
  clip: rect(0, 0, 0, 0)
  background-color: rgba(black, 0.5)
  background-image: radial-gradient(farthest-side, rgba(black, 0) 0%, rgba(black, 0.5) 100%)
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 50
  overflow: auto
  opacity: 0
  transition:
    property: clip, opacity
    duration: 0s, 0.3s
    timing-function: linear, ease-in-out
    delay: 0.3s, 0s
  &.visible
    clip: rect(-100px, 9000px, 9000px, -100px)
    transition-delay: 0s, 0s
    opacity: 1
    transition-duration: 0s, 0.5s


.slideshow-slides-container-wrapper
  width: 800px
  padding: 30px
  position: absolute
  top: 60px
  left: 50%
  margin-left: -430px
  background-color: white
  bottom: 60px
  padding-bottom: 262px

.slideshow-slides-container
  width: 100%
  height: 100%


.close-slideshow
  position: absolute
  top: -45px
  right: -45px
  text-decoration: none
  color: $grey
  font-size: 30px
  background-color: $light-grey
  height: 34px
  line-height: 29px
  padding: 0 8px
  border-radius: 50%
  &:hover
    background-color: $yellow
