@import "mixins"

div[data-role=wysihtml5-input]
  .admin-menu
    +unstyled-list
  .admin-link
    margin: 0 0 5px 5px
    text-decoration: none
    padding: 3px 8px
    color: white
    background-color: $grey
    border-radius: 3px
    float: left
    cursor: pointer
    &:hover
      background-color: $yellow
    &.wysihtml5-command-active
      background-color: $yellow
  iframe
    min-height: 300px