%h1.form Dodawanie partnera

= simple_form_for @partner do |f|
  .form-inputs
    = f.input :name
    = f.input :image, as: :file
    = f.input :link, hint: "pełna ścieżka url (np. http://amnat.pl)"
  .form-actions
    = f.button :submit
  