@charset "UTF-8";/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100% /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0 /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0 /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0 /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.admin-form {
  width: 600px;
  margin: 0 auto;
}

/* line 7, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.menu-dropdown-wrapper {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}
/* line 12, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.menu-dropdown-wrapper i.icon {
  display: block;
}
/* line 14, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.menu-dropdown-wrapper menu.admin {
  display: none;
  position: absolute;
  right: 0;
  text-align: right;
}
/* line 19, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.menu-dropdown-wrapper menu.admin a {
  white-space: nowrap;
}
/* line 21, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.menu-dropdown-wrapper:hover {
  z-index: 2;
}
/* line 23, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.menu-dropdown-wrapper:hover menu.admin {
  display: block;
}

/* line 26, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 28, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.inline {
  margin: 20px 0;
}
/* line 30, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.inline li {
  display: inline-block;
}
/* line 32, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.inline a {
  text-decoration: none;
  display: block;
  background-color: #fff5d8;
  color: #2c2c2c;
  padding: 3px 6px;
}
/* line 38, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.inline a:hover {
  background-color: #f9bf1c;
}
/* line 40, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.dropdown {
  z-index: 1;
  border: 1px solid #e7e7e7;
  padding: 4px 0;
  background-color: white;
}
/* line 45, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.dropdown li {
  display: block;
  padding: 0;
}
/* line 48, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.dropdown li:hover a {
  color: #2c2c2c;
}
/* line 50, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
menu.admin.dropdown a {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  text-transform: none;
  display: block;
  padding: 2px 8px;
}

/* line 59, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.admin-panel-menu {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 62, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/admin.css.sass */
.admin-panel-menu menu.admin {
  margin: 0;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.clearfix {
  clear: both;
}

/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.page-wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

/* line 10, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.left-column {
  width: 70%;
  margin-right: 5%;
  float: left;
  position: relative;
}

/* line 17, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.right-column {
  width: 25%;
  float: left;
}

/* line 22, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
section.three-columns .left-column {
  width: 30%;
  margin-right: 5%;
}
/* line 25, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
section.three-columns .middle-column {
  float: left;
  width: 30%;
  margin-right: 5%;
}
/* line 29, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
section.three-columns .right-column {
  width: 30%;
}

/* line 32, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
i.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/icons-sprite.svg);
}
/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
html.no-svg i.icon {
  background-image: url(/assets/icons-sprite.png);
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.grey-gear {
  background-position: 0px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.yellow-gear {
  background-position: -25px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.small-yellow-right-arrow {
  background-position: -50px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.small-grey-right-arrow {
  background-position: -75px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.small-yellow-left-arrow {
  background-position: -100px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.small-grey-left-arrow {
  background-position: -125px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.mail {
  background-position: -150px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.phone {
  background-position: -175px 0;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.address {
  background-position: -200px 0;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.left-yellow-arrow {
  width: 50px;
  height: 50px;
  background-position: 0px -25px;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.right-yellow-arrow {
  width: 50px;
  height: 50px;
  background-position: -50px -25px;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.left-grey-arrow {
  width: 50px;
  height: 50px;
  background-position: -100px -25px;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.right-grey-arrow {
  width: 50px;
  height: 50px;
  background-position: -150px -25px;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.top-light-grey-arrow {
  width: 50px;
  height: 50px;
  background-position: -200px -25px;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/_mixins.css.sass */
i.icon.top-grey-arrow {
  width: 50px;
  height: 50px;
  background-position: -250px -25px;
}

/* line 38, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination {
  margin-top: 20px;
  text-align: center;
}
/* line 41, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination a {
  text-decoration: none;
  color: #2c2c2c;
}
/* line 44, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.page {
  display: inline-block;
  padding: 2px 5px;
}
/* line 47, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.page:hover {
  background-color: #f1f1f1;
}
/* line 49, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.page.gap:hover {
  background-color: white;
}
/* line 51, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.current {
  background-color: #2c2c2c;
  color: white;
}
/* line 54, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.current:hover {
  background-color: #2c2c2c;
}
/* line 58, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.next a:hover, nav.pagination span.last a:hover, nav.pagination span.prev a:hover, nav.pagination span.first a:hover {
  color: #f9bf1c;
}
/* line 60, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.next {
  margin: 0 8px 0 4px;
}
/* line 62, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
nav.pagination span.prev {
  margin: 0 4px 0 8px;
}

/* line 67, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=sortable].ui-sortable [data-role=sortable-list] > li, [data-role=sortable].ui-sortable [data-role=sortable-list] > tr {
  outline: 1px dashed #f9bf1c;
}
/* line 70, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=sortable].ui-sortable-disabled [data-role=sortable-list] > li, [data-role=sortable].ui-sortable-disabled [data-role=sortable-list] > tr {
  outline: none;
}

/* line 73, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
a.more {
  text-decoration: none;
  color: #2c2c2c;
  position: relative;
  display: inline-block;
  float: right;
  padding-right: 30px;
  height: 25px;
  line-height: 25px;
}
/* line 82, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
a.more .icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 86, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
a.more .small-yellow-right-arrow {
  display: block;
}
/* line 88, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
a.more .small-grey-right-arrow {
  display: none;
}
/* line 91, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
a.more:hover .small-yellow-right-arrow {
  display: none;
}
/* line 93, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
a.more:hover .small-grey-right-arrow {
  display: block;
}

/* line 96, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=add-object] {
  background-color: #f9bf1c;
  padding: 4px 8px;
  font-size: 14px;
  text-decoration: none;
  color: #2c2c2c;
}

/* line 103, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object] {
  margin-top: 15px;
  padding: 10px;
  border: 2px dashed #f9bf1c;
}
/* line 107, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object] span.restore {
  display: none;
}
/* line 110, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object].removed span.remove {
  display: none;
}
/* line 112, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object].removed span.restore {
  display: inline-block;
}
/* line 114, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object].removed .three-inputs {
  position: relative;
  height: 77px;
}
/* line 117, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object].removed .three-inputs:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
/* line 126, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-component=nested-form-object].removed .three-inputs:after {
  content: "";
  position: absolute;
  background-image: url(/assets/zigzag.png);
  background-repeat: repeat-x;
  right: 10px;
  left: 10px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  z-index: 2;
}

/* line 138, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=toggle-remove] {
  margin-right: 10px;
  background-color: #f9bf1c;
  padding: 4px 8px;
  font-size: 14px;
  text-decoration: none;
  color: #2c2c2c;
}

/* line 146, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=scroll-top-element] {
  position: fixed;
  top: 50%;
  right: 10%;
  display: none;
  cursor: pointer;
}
/* line 152, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=scroll-top-element] .top-grey-arrow {
  display: none;
}
/* line 155, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=scroll-top-element]:hover .top-light-grey-arrow {
  display: none;
}
/* line 157, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=scroll-top-element]:hover .top-grey-arrow {
  display: block;
}
/* line 159, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
[data-role=scroll-top-element].visible {
  display: block;
}

/* line 162, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.back-link {
  display: block;
  text-align: center;
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
  text-decoration: none;
  color: #2c2c2c;
}
/* line 170, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.back-link:hover {
  text-decoration: underline;
}

/* line 173, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.action-link {
  text-decoration: none;
  color: #2c2c2c;
  padding: 3px 5px;
  border: 1px solid #e7e7e7;
}
/* line 178, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/base.css.sass */
.action-link:hover {
  border-color: #a0c17c;
}
/* line 4, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar table {
  width: 100%;
  margin-top: 30px;
  border-collapse: separate;
  border-spacing: 2px;
}
/* line 9, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar th {
  text-transform: uppercase;
  vertical-align: middle;
  align: center;
  width: 60px;
  padding: 10px;
  background-color: #2c2c2c;
  color: white;
}
/* line 17, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar td {
  text-align: left;
  height: 150px;
  width: 150px;
  vertical-align: top;
  font-size: 14px;
  background-color: #f1f1f1;
}
/* line 24, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .day-wrapper {
  padding: 5px;
  height: 100%;
  position: relative;
}
/* line 28, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .date {
  font-size: 20px;
  margin-bottom: 12px;
  padding: 3px 6px;
  display: inline-block;
}
/* line 33, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .date.event {
  background-color: #f9bf1c;
}
/* line 37, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .day.past .day-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f1f1f1;
  z-index: 1;
}
/* line 46, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .day.past .day-wrapper:after {
  content: "";
  position: absolute;
  background-image: url(/assets/zigzag.png);
  background-repeat: repeat-x;
  right: 10px;
  left: 10px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  z-index: 2;
}
/* line 60, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .day.today .day-wrapper {
  border: 3px dashed #a0c17c;
}
/* line 62, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .city-and-title-wrapper {
  text-align: center;
}
/* line 64, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .city-and-title-wrapper a {
  color: #2c2c2c;
  text-decoration: none;
}
/* line 67, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .city-and-title-wrapper a:hover {
  color: #f9bf1c;
}
/* line 69, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .event-title {
  padding: 0 5px;
}
/* line 71, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .event-city {
  text-transform: uppercase;
  color: white;
  background-color: #2c2c2c;
  padding: 1px 5px;
  margin: 10px 0;
  display: inline-block;
}
/* line 78, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
section.calendar .event-gap {
  width: 35px;
  height: 35px;
  background-image: url(/assets/cell_gap.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px;
}

/* line 89, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
.calendar-header {
  text-align: center;
}
/* line 91, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
.calendar-header span {
  margin: 0 10px;
}
/* line 93, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
.calendar-header a {
  text-decoration: none;
  color: #2c2c2c;
  display: inline-block;
  padding: 0 7px;
}
/* line 98, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/calendar.css.sass */
.calendar-header a:hover {
  background-color: #f1f1f1;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/coaches.css.sass */
.coaches-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
}

/* line 7, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/coaches.css.sass */
.coach-item {
  float: left;
  width: 30%;
  margin-right: 5%;
  position: relative;
}
/* line 12, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/coaches.css.sass */
.coach-item:last-child {
  margin-right: 0;
}

/* line 15, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/coaches.css.sass */
.coach-photo img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

/* line 22, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/coaches.css.sass */
.coach-name {
  font-size: 22px;
  text-transform: uppercase;
  margin: 40px 0 20px 0;
  color: #f9bf1c;
}

/* line 29, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/coaches.css.sass */
.coach-description {
  font-size: 14px;
}
/* line 4, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.ask-question textarea {
  min-height: 180px;
}
/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.ask-question form {
  background-color: #fff5d8;
  padding: 20px;
}
/* line 9, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.ask-question form .btn {
  background-color: #f9bf1c;
}
/* line 11, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.ask-question form .btn:hover {
  color: white;
  background-color: #2c2c2c;
}

/* line 15, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
#map {
  width: 100%;
  height: 300px;
  border: 1px solid #e7e7e7;
}

/* line 20, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
section.contact {
  position: relative;
}
/* line 22, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
section.contact:before, section.contact:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e7e7e7;
}
/* line 29, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
section.contact:before {
  left: 32.5%;
}
/* line 31, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
section.contact:after {
  right: 32.5%;
}
/* line 34, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
section.contact .email a {
  color: #2c2c2c;
}

/* line 37, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.before-ask-tip {
  font-size: 12px;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.before-ask-tip a {
  color: #a0c17c;
}

/* line 42, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.messages-table {
  width: 100%;
}
/* line 44, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.messages-table td, .messages-table th {
  border: 1px solid #e7e7e7;
  padding: 10px;
}
/* line 47, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.messages-table td.status, .messages-table th.status {
  text-align: center;
}

/* line 49, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-status {
  padding: 2px 6px;
  border-radius: 3px;
}
/* line 52, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-status.fresh {
  background-color: #a0c17c;
}
/* line 54, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-status.read {
  background-color: #e7e7e7;
}

/* line 57, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-item {
  width: 600px;
  margin: 0 auto;
}

/* line 60, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 64, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-content {
  margin-bottom: 30px;
}

/* line 67, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/contact.css.sass */
.message-actions-wrapper {
  white-space: nowrap;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
section.event {
  padding: 0 100px;
}

/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-header {
  background-image: url(/assets/light-pattern.jpg);
  padding: 20px;
}

/* line 10, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-date {
  float: left;
  width: 15%;
}

/* line 14, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-date-wrapper {
  text-align: right;
  padding: 5px 20px 5px 0;
  border-right: 3px solid #f9bf1c;
}
/* line 18, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-date-wrapper .day {
  font-size: 40px;
  display: block;
  font-weight: bold;
}
/* line 22, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-date-wrapper .month {
  display: block;
  margin-top: -10px;
  font-weight: bold;
}
/* line 26, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-date-wrapper .day-of-week {
  display: inline-block;
  font-size: 14px;
}
/* line 29, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-date-wrapper .time {
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
  font-size: 14px;
  border-left: 2px solid #2c2c2c;
}

/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-details {
  float: left;
  width: 85%;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-details h1 {
  display: block;
  float: left;
  margin-left: 20px;
  font-size: 20px;
  margin: 0 20px;
  width: 100%;
  margin-left: 20px;
}
/* line 47, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-details .venue {
  float: left;
  width: 100%;
  margin-left: 20px;
  padding: 5px 0;
}
/* line 52, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-details .city {
  float: left;
  margin-left: 20px;
  background-color: #2c2c2c;
  padding: 4px 10px;
  color: white;
  text-transform: uppercase;
}

/* line 60, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-description-wrapper {
  padding: 20px;
  border: 1px solid #f1f1f1;
}
/* line 63, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-description-wrapper .description {
  float: left;
  width: 580px;
}
/* line 66, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/event.css.sass */
.event-description-wrapper .image {
  float: right;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.faqs-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.questions-list {
  margin-bottom: 60px;
}

/* line 9, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.question-item a {
  margin-bottom: 5px;
  color: #2c2c2c;
}
/* line 12, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.question-item a:hover {
  color: #f9bf1c;
}

/* line 15, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.faq-item {
  float: left;
  width: 525px;
  margin: 0 50px 50px 0;
  background-color: #f8f8f8;
  position: relative;
}
/* line 21, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.faq-item:nth-child(2n) {
  margin-right: 0;
}
/* line 23, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.faq-item:nth-child(2n+1) {
  clear: left;
}

/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.faq-question {
  padding: 20px 20px 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

/* line 33, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/faqs.css.sass */
.faq-answer {
  padding: 20px;
  font-size: 14px;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighters-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: -10px;
}

/* line 7, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-item {
  float: left;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

/* line 14, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-photo img {
  display: block;
}

/* line 18, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-item .fighter-description {
  position: absolute;
  left: 0;
  width: 227px;
  padding: 20px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 20px;
  -webkit-transition: top 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: top 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-item .fighter-description .name {
  display: block;
}
/* line 29, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-item .fighter-description .description {
  font-size: 14px;
  margin-top: 20px;
  display: block;
}
/* line 33, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-item .fighter-description ul {
  margin: 0;
  padding: 0 0 0 25px;
  list-style-type: disc;
}
/* line 38, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/fighters.css.sass */
.fighter-item:hover .fighter-description {
  top: 0 !important;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 4, 2014 */
@font-face {
  font-family: 'roboto';
  src: url(/assets/roboto-regular-webfont.eot);
  src: url(/assets/roboto-regular-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/roboto-regular-webfont.woff2) format("woff2"), url(/assets/roboto-regular-webfont.woff) format("woff"), url(/assets/roboto-regular-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url(/assets/roboto-bold-webfont.eot);
  src: url(/assets/roboto-bold-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/roboto-bold-webfont.woff2) format("woff2"), url(/assets/roboto-bold-webfont.woff) format("woff"), url(/assets/roboto-bold-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
input[type="text"], input[type="search"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
  border: 1px solid #e7e7e7;
  padding: 6px 12px;
  box-sizing: content-box;
  width: 100%;
  font-size: 14px;
}
/* line 9, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
input[type="text"]:focus, input[type="search"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #f9bf1c;
}

/* line 13, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
abbr[title] {
  border-bottom: none;
}

/* line 16, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.input {
  margin-bottom: 20px;
  margin-right: 26px;
}
/* line 20, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.input.enum select {
  width: calc(100% + 24px);
}

/* line 23, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
button, .btn {
  border: none;
  background-color: #f9bf1c;
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #2c2c2c;
}
/* line 31, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
button:active, button:focus, .btn:active, .btn:focus {
  outline: none;
}
/* line 33, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
button:hover, .btn:hover {
  background-color: #fff5d8;
}

/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.label {
  margin-bottom: 5px;
  font-size: 14px;
}

/* line 40, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
label.checkbox {
  margin-right: 6px;
}

/* line 43, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
form {
  padding: 0 200px;
}

/* line 46, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.form-inputs {
  padding: 20px;
  border: 1px solid #e7e7e7;
}

/* line 50, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.form-actions {
  text-align: center;
  margin-top: 30px;
}
/* line 53, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.form-actions input {
  width: auto;
}

/* line 57, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.two-inputs > .input, .three-inputs > .input {
  float: left;
  margin-left: 3%;
}
/* line 60, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.two-inputs > .input:first-child, .three-inputs > .input:first-child {
  margin-left: 0;
}
/* line 62, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.two-inputs:after, .three-inputs:after {
  content: "";
  display: block;
  clear: both;
}

/* line 68, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.three-inputs > .input {
  width: 27%;
}

/* line 71, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
.two-inputs > .input {
  width: 43%;
}

/* line 74, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
select {
  height: 31px;
}

/* line 77, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
select.time, select.datetime {
  width: 60px;
}

/* line 80, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
span.hint {
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  color: #a0c17c;
}

/* line 86, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
[data-role=image-preview] {
  height: 150px;
}
/* line 88, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/form.css.sass */
[data-role=image-preview] img {
  max-height: 100%;
  max-width: 100%;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-carousel] {
  width: 100%;
  height: 100%;
}

/* line 7, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: -10px;
}
/* line 10, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 13, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item {
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  float: left;
  width: 267px;
}
/* line 19, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item:nth-child(4n+1) {
  clear: left;
}
/* line 21, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item img {
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webikit-transition: -webkit-filter 0.3s linear;
  -moz-transition: -moz-filter 0.3s linear;
  -o-transition: -o-filter 0.3s linear;
  -ms-transition: -ms-filter 0.3s linear;
}
/* line 32, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}
/* line 37, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item:hover .album-title {
  top: 0;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item .album-title {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: #f1f1f1;
  background-color: rgba(44, 44, 44, 0.8);
  line-height: 50px;
  -webkit-transition: top 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: top 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 50, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-item .album-title span {
  display: block;
  padding: 0 20px;
}

/* line 54, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

/* line 60, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.main-gallery-wrapper {
  width: 100%;
  height: 100%;
}

/* line 64, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.album-link {
  position: relative;
  display: block;
}

/* line 68, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.album-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 74, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.album-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white;
  z-index: 1;
}
/* line 83, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.album-item img {
  max-height: 100%;
  max-width: 100%;
}
/* line 86, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.album-item.current {
  z-index: 2;
}

/* line 89, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-nav {
  position: relative;
}

/* line 93, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-wrapper] {
  width: 800px;
  height: 160px;
  overflow: hidden;
  position: relative;
}

/* line 99, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav] {
  margin-top: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
          transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

/* line 107, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-item] {
  float: left;
  position: relative;
}
/* line 110, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-item] img {
  display: block;
}
/* line 112, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-item]:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 120, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-item].current:after, [data-role=gallery-nav-item]:hover:after {
  display: none;
}

/* line 123, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-prev], [data-role=gallery-nav-next] {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}
/* line 128, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-prev].hidden, [data-role=gallery-nav-next].hidden {
  display: none;
}

/* line 131, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-prev], [data-role=gallery-next] {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
}
/* line 136, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-prev].hidden, [data-role=gallery-next].hidden {
  display: none;
}

/* line 139, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-prev] {
  left: -18px;
}

/* line 142, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-prev] {
  left: -60px;
}

/* line 145, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-nav-next] {
  right: -18px;
}

/* line 148, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
[data-role=gallery-next] {
  right: -60px;
}

/* line 151, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/gallery.css.sass */
.gallery-title {
  font-size: 12px;
  margin-top: 20px;
  text-transform: uppercase;
  border-top: 1px solid #f1f1f1;
  padding-top: 5px;
}
/* line 5, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.slide-wrapper {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* line 11, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.circle-navigation {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 2;
}
/* line 16, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.circle-navigation .circle {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #f9bf1c;
}
/* line 22, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.circle-navigation .circle.current {
  background-color: #f9bf1c;
}

/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.slides-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* line 31, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.slide-item {
  position: absolute;
  left: 100%;
  right: 0;
  width: 100%;
}
/* line 36, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.slide-item img {
  width: 100%;
  display: block;
}
/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.slide-item.current {
  left: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}
/* line 44, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.slide-item.left, .slide-item.next {
  opacity: 0;
  z-index: -1;
}

/* line 50, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.carousel-navigation .next, .carousel-navigation .prev {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 2;
}
/* line 55, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.carousel-navigation .prev {
  left: 50px;
}
/* line 57, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.carousel-navigation .next {
  right: 50px;
}
/* line 59, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.carousel-navigation .icon {
  cursor: pointer;
}

/* line 62, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-info-boxes {
  background-image: url(/assets/light-pattern.jpg);
}

/* line 65, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-info-boxes-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 0;
}

/* line 70, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-info-box {
  float: left;
  width: 30%;
  margin-right: 4%;
}
/* line 74, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-info-box.last {
  margin-right: 0;
}
/* line 76, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-info-box h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  background-color: #2c2c2c;
  color: white;
  display: inline-block;
  padding: 2px 10px;
}
/* line 84, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-info-box p {
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0;
  color: #2c2c2c;
  text-shadow: 0 2px white;
}

/* line 91, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-photo-wrapper {
  text-align: center;
  padding: 50px 0;
}
/* line 94, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-photo-wrapper a {
  text-decoration: none;
}

/* line 97, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 120px;
}
/* line 104, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-photo.first {
  background-image: url(/assets/photo_1.jpg);
}
/* line 106, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-photo.middle {
  background-image: url(/assets/photo_2.jpg);
}
/* line 108, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/home.css.sass */
.home-photo.last {
  background-image: url(/assets/photo_3.jpg);
  margin-right: 0;
}

/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
body {
  font-family: "roboto";
}

/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.main-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 300px;
}

/* line 12, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
h2 {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 16, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
h1.form {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 60px 200px;
}

/* line 22, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-wrapper {
  height: 30px;
  line-height: 30px;
  background-color: #191919;
}

/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 30, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 32, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu li {
  display: inline-block;
}
/* line 34, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu a {
  color: #cacaca;
  text-decoration: none;
}

/* line 38, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation-wrapper {
  height: 100px;
  line-height: 100px;
  background-color: #2c2c2c;
  border-bottom: 1px solid black;
}

/* line 44, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
/* line 48, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .logo {
  position: absolute;
  top: 20px;
  left: 0;
}
/* line 52, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation a {
  color: #cacaca;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
/* line 58, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}
/* line 61, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .main-page {
  float: left;
  padding: 0 20px;
  border-right: 1px solid black;
  background-color: #2c2c2c;
  -webkit-transition: background-color 200ms linear;
          transition: background-color 200ms linear;
  position: relative;
}
/* line 68, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .main-page:first-child {
  border-left: 1px solid black;
}
/* line 70, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .main-page:hover, .header-navigation .main-page.current {
  background-color: #f9bf1c;
  -webkit-transition: background-color 400ms linear;
          transition: background-color 400ms linear;
}
/* line 73, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .main-page:hover > span > a, .header-navigation .main-page.current > span > a {
  color: #2c2c2c;
}
/* line 75, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpages-wrapper {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 100px;
  padding-top: 5px;
  display: none;
}
/* line 82, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpages-wrapper.visible {
  display: block;
}
/* line 84, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpages {
  border: 1px solid black;
}
/* line 86, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpage {
  display: block;
  border: none;
  height: auto;
  line-height: normal;
  background-color: #2c2c2c;
  -webkit-transition: background-color 200ms linear;
          transition: background-color 200ms linear;
}
/* line 93, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpage span {
  display: block;
}
/* line 95, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpage a {
  padding: 15px;
  color: #cacaca;
  display: block;
  white-space: nowrap;
}
/* line 100, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpage:hover {
  background-color: #f9bf1c;
  -webkit-transition: background-color 400ms linear;
          transition: background-color 400ms linear;
}
/* line 103, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.header-navigation .subpage:hover > span > a {
  color: #2c2c2c;
}

/* line 106, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.main-header-navigation {
  position: relative;
}

/* line 109, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.breadcrumbs-wrapper {
  height: 100px;
  line-height: 100px;
  background-color: #f9bf1c;
  border-bottom: 1px solid #cacaca;
}

/* line 115, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.breadcrumbs {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 118, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.breadcrumbs h1 {
  margin: 0;
}

/* line 121, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
footer.main-footer {
  background-color: #2c2c2c;
  margin-top: 50px;
  bottom: 0;
}
/* line 125, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
footer.main-footer .footer-wrapper {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1100px;
}
/* line 129, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
footer.main-footer .link-to-main-page {
  color: #f9bf1c;
  margin-right: 25px;
  float: left;
  text-decoration: none;
}

/* line 135, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-pages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  float: left;
}

/* line 140, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-page-item {
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
}
/* line 144, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-page-item a {
  color: #7a7a7a;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 148, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-page-item a:hover {
  color: #f1f1f1;
}

/* line 151, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.main-footer-nav {
  position: relative;
}
/* line 153, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.main-footer-nav .facebook-icon {
  position: absolute;
  top: -5px;
  right: 10px;
}

/* line 158, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-separating-line {
  border-top: 1px solid #7a7a7a;
  margin: 20px 0;
}

/* line 162, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-contact {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 164, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-contact li {
  color: #f1f1f1;
  margin-bottom: 8px;
}
/* line 167, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-contact li .icon {
  float: left;
}
/* line 169, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-contact li span {
  float: left;
  margin: 3px 0 0 6px;
}
/* line 172, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-contact li:after {
  content: "";
  display: block;
  clear: both;
}

/* line 177, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.copyrights {
  font-size: 12px;
  color: #7a7a7a;
}

/* line 181, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-block {
  width: 25%;
  float: left;
  margin: 20px 8% 20px 0;
  font-size: 14px;
}
/* line 186, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 189, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-block a {
  text-decoration: none;
  color: #7a7a7a;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #464646;
}
/* line 195, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.footer-block a:hover {
  color: #f1f1f1;
}

/* line 198, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
h1.footer {
  color: #f9bf1c;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 204, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right {
  float: right;
}
/* line 206, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right .switch-languages-buttons {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  float: left;
}
/* line 210, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right .switch-languages-buttons li {
  float: left;
}
/* line 212, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right .switch-languages-buttons a {
  padding: 0 5px;
  display: block;
  -webkit-transition: color 0.5s linear;
          transition: color 0.5s linear;
}
/* line 216, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right .switch-languages-buttons a:hover {
  color: #f9bf1c;
}
/* line 218, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right .switch-languages-buttons .facebook-icon {
  margin-left: 15px;
  height: 30px;
}
/* line 221, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.top-header-menu-right .switch-languages-buttons .facebook-icon img {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

/* line 226, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.flash-message {
  max-width: 1100px;
  margin: 10px auto;
  padding: 6px 0;
  color: white;
  text-align: center;
  position: relative;
}
/* line 233, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.flash-message .close {
  position: absolute;
  top: 5px;
  right: 12px;
  text-decoration: none;
  color: white;
  margin-top: -4px;
}
/* line 240, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.flash-message .close:after {
  content: "×";
  font-size: 20px;
}
/* line 243, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.flash-message.notice {
  background-color: #a0c17c;
}
/* line 245, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.flash-message.alert {
  background-color: #c94343;
}

/* line 248, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
.separating-line {
  border-top: 1px solid #f1f1f1;
  margin: 50px 0;
}

/* line 252, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/layout.css.sass */
section.page-content {
  background-color: #f8f8f8;
  padding: 40px 80px;
}
/* line 5, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
section.news-posts .left-column {
  width: 65%;
}
/* line 7, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
section.news-posts .left-column:after {
  content: "";
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e7e7e7;
  position: absolute;
  right: -30px;
}
/* line 15, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
section.news-posts .right-column {
  width: 30%;
}

/* line 18, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 21, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-item {
  margin-top: 80px;
  padding: 20px 50px 20px 120px;
  background-color: #f8f8f8;
  position: relative;
}

/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-day {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}

/* line 34, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-month {
  color: white;
  text-align: center;
  font-size: 14px;
}

/* line 39, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-content {
  font-size: 14px;
  line-height: 20px;
}

/* line 43, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-image {
  margin-top: 30px;
}

/* line 46, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-calender {
  width: 80px;
  height: 80px;
  background-color: #2c2c2c;
  position: absolute;
  top: -40px;
  left: -100px;
}

/* line 54, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-title {
  float: left;
  font-size: 22px;
  text-transform: uppercase;
}

/* line 59, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-header {
  margin-bottom: 15px;
  position: relative;
}

/* line 63, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comments-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 50px auto 0 auto;
}

/* line 67, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comments-wrapper {
  margin-top: 30px;
  -webkit-transition: height 600ms linear;
          transition: height 600ms linear;
  overflow: hidden;
}
/* line 71, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comments-wrapper.hidden {
  height: 30px !important;
  overflow: hidden;
  -webkit-transition: height 600ms linear;
          transition: height 600ms linear;
}

/* line 76, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comment-item {
  margin-bottom: 40px;
  position: relative;
}

/* line 80, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comment-content {
  background-color: #fff5d8;
  padding: 10px;
  clear: right;
  font-size: 14px;
}

/* line 86, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comment-author-wrapper {
  margin-bottom: 3px;
  font-size: 12px;
  display: inline-block;
  padding: 2px 10px;
}

/* line 92, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.comment-author {
  font-size: 14px;
  color: #f9bf1c;
}

/* line 96, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.show-comments-link-wrapper {
  text-align: center;
}

/* line 99, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.show-comments-link {
  color: #2c2c2c;
  text-decoration: none;
  display: inline-block;
  width: 185px;
  text-align: center;
  padding: 2px 0;
  background-color: #f9bf1c;
}

/* line 109, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
section.add-comment {
  width: 543px;
  margin: 60px auto 0 auto;
}
/* line 112, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
section.add-comment form {
  background-color: #fff5d8;
  padding: 20px;
}
/* line 115, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
section.add-comment textarea {
  min-height: 80px;
}

/* line 118, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-posts-events {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 121, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item {
  background-image: url(/assets/light-pattern.jpg);
  margin-bottom: 20px;
  padding: 8px 10px;
  border: 1px #2c2c2c dashed;
  position: relative;
}
/* line 127, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item nav.event {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -12px;
}
/* line 132, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item nav.event .small-grey-right-arrow {
  display: block;
}
/* line 134, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item nav.event .small-yellow-right-arrow {
  display: none;
}
/* line 136, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item:hover {
  border-color: #f9bf1c;
}
/* line 139, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item:hover nav.event .small-grey-right-arrow {
  display: none;
}
/* line 141, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item:hover nav.event .small-yellow-right-arrow {
  display: block;
}
/* line 143, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item a {
  color: #2c2c2c;
}
/* line 145, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item .city {
  text-transform: uppercase;
  color: white;
  background-color: #2c2c2c;
  padding: 1px 5px;
}
/* line 150, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item .date {
  float: left;
  text-align: right;
  width: 20%;
  margin-right: 5%;
  line-height: 24px;
}
/* line 156, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item .event-content {
  float: left;
  width: 75%;
  font-size: 14px;
  line-height: 24px;
}
/* line 161, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item .day {
  font-size: 30px;
  display: block;
  font-weight: bold;
}
/* line 165, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item .month {
  font-size: 14px;
}
/* line 167, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-post-event-item .title {
  display: block;
}

/* line 170, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/news_posts.css.sass */
.news-posts-events-footer {
  margin-top: 40px;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
section.passes {
  max-width: 900px;
  margin: 0 auto 30px auto;
}
/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
section.passes .pass-name {
  width: 30%;
  background-color: #fff5d8;
  text-transform: uppercase;
}
/* line 10, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
section.passes .pass-price {
  width: 20%;
}
/* line 12, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
section.passes td {
  position: relative;
}

/* line 15, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
.partners-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 18, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
.partner-item {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

/* line 24, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/passes.css.sass */
section.partners h1 {
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  /* line 4, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-info-boxes-wrapper {
    padding: 60px 20px;
  }

  /* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  footer.main-footer .footer-wrapper {
    padding: 20px;
  }

  /* line 8, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .main-content {
    padding: 20px;
  }

  /* line 10, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .breadcrumbs-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  /* line 14, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .main-content {
    min-height: auto;
  }

  /* line 16, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-photo {
    width: 150px;
    height: 150px;
    margin-right: 80px;
    background-size: cover;
  }
}
@media (max-width: 700px) {
  /* line 23, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation-wrapper {
    height: 40px;
    line-height: 40px;
    display: none;
  }

  /* line 28, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .subpages {
    border: 0;
  }
  /* line 31, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .subpage:hover {
    background-color: #2c2c2c;
  }
  /* line 33, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .subpage:hover > span > a {
    color: #f9bf1c;
  }
  /* line 35, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .subpages-wrapper {
    display: block;
    position: static;
  }
  /* line 38, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation ul {
    float: none;
  }
  /* line 40, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .main-header-navigation {
    z-index: 20;
    position: fixed;
    width: 100%;
  }
  /* line 44, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .main-page {
    float: none;
    text-align: center;
  }
  /* line 47, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .main-page:hover, .header-navigation .main-page.current {
    background-color: #2c2c2c;
  }
  /* line 49, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .header-navigation .main-page:hover > span > a, .header-navigation .main-page.current > span > a {
    color: #f9bf1c;
  }
}
@media (max-width: 680px) {
  /* line 53, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .two-inputs > .input {
    width: 165px;
    float: none;
    margin: 10px 0;
  }

  /* line 57, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.add-comment {
    width: auto;
  }
  /* line 59, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.add-comment form {
    padding: 10px;
  }

  /* line 62, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.news-posts .left-column, section.news-posts .right-column {
    width: 100%;
    float: none;
  }

  /* line 65, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.page-content {
    padding: 20px 40px;
  }

  /* line 67, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .breadcrumbs-wrapper {
    height: 60px;
    line-height: 60px;
  }

  /* line 71, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.contact:before, section.contact:after {
    display: none;
  }

  /* line 74, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.three-columns .left-column, section.three-columns .middle-column, section.three-columns .right-column {
    width: 100%;
    margin: 0;
  }
  /* line 77, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.three-columns .left-column p, section.three-columns .middle-column p, section.three-columns .right-column p {
    margin: 5px 0;
  }

  /* line 79, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .coach-item {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  /* line 83, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-photo {
    width: 120px;
    height: 120px;
    margin-right: 30px;
  }

  /* line 87, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  footer.main-footer {
    margin-top: 0;
  }
}
@media (max-width: 460px) {
  /* line 91, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .news-post-calender {
    width: 100px;
    height: 60px;
    left: 50%;
    margin-left: -50px;
    top: -30px;
  }

  /* line 97, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .news-post-day {
    margin-top: 7px;
    font-size: 22px;
  }

  /* line 100, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .news-post-title {
    font-size: 18px;
  }

  /* line 102, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .news-post-month {
    font-size: 12px;
  }

  /* line 104, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .news-post-header {
    padding-top: 30px;
  }

  /* line 106, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .news-post-item {
    padding: 0 20px 20px 20px;
    margin-top: 46px;
  }

  /* line 109, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.page-content {
    padding: 20px;
  }

  /* line 111, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-info-boxes-wrapper {
    padding: 20px;
  }

  /* line 113, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-info-box {
    float: none;
    width: 100%;
    margin: 0 0 40px 0;
  }

  /* line 117, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-photo-wrapper {
    padding: 0;
  }

  /* line 119, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-photo {
    display: block;
    margin: 15px auto;
  }
  /* line 122, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .home-photo.last {
    margin: 10px auto;
  }

  /* line 124, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  .footer-block {
    width: 100%;
    float: none;
  }

  /* line 128, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.calendar .date {
    font-size: 16px;
  }
  /* line 130, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.calendar th {
    width: auto;
    padding: 2px;
    font-size: 14px;
  }
  /* line 134, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.calendar td {
    width: auto;
    height: 80px;
  }
  /* line 137, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.calendar .day-wrapper {
    padding: 2px;
  }
  /* line 139, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/responsive.css.sass */
  section.calendar .event-gap {
    margin-top: -5px;
    width: 22px;
    height: 22px;
    background-size: cover;
  }
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule {
  width: 100%;
  margin-top: 50px;
}
/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule th {
  text-transform: uppercase;
}
/* line 8, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td, table.schedule th {
  border: 1px solid #e7e7e7;
  padding: 20px 10px;
  text-align: center;
}
/* line 12, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule .hour {
  font-size: 22px;
}
/* line 14, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule .minute {
  font-size: 14px;
}
/* line 16, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule .group-number {
  font-size: 22px;
}
/* line 18, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group {
  position: relative;
}
/* line 20, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
}
/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group.advanced:after {
  background-color: #c94343;
}
/* line 29, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group.beginner:after {
  background-color: #a0c17c;
}
/* line 31, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group.middle:after {
  background-color: #e8921f;
}
/* line 33, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group.mixed:after {
  background-color: #24add8;
}
/* line 35, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.group.youth:after {
  background-color: #bd8dda;
}
/* line 37, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
table.schedule td.last-cell {
  position: relative;
}

/* line 41, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
.group-color {
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 46, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
.group-color.beginner {
  background-color: #a0c17c;
}

/* line 49, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
.group-color.middle {
  background-color: #e8921f;
}

/* line 52, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
.group-color.advanced {
  background-color: #c94343;
}

/* line 55, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
.group-color.mixed {
  background-color: #24add8;
}

/* line 58, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/schedule.css.sass */
.group-color.youth {
  background-color: #bd8dda;
}
/* line 3, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/slideshow.css.sass */
.slideshow.overlay {
  position: fixed;
  clip: rect(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-radial-gradient(farthest-side, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  overflow: auto;
  opacity: 0;
  -webkit-transition-property: clip, opacity;
          transition-property: clip, opacity;
  -webkit-transition-duration: 0s, 0.3s;
          transition-duration: 0s, 0.3s;
  -webkit-transition-timing-function: linear, ease-in-out;
          transition-timing-function: linear, ease-in-out;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}
/* line 20, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/slideshow.css.sass */
.slideshow.overlay.visible {
  clip: rect(-100px, 9000px, 9000px, -100px);
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
  opacity: 1;
  -webkit-transition-duration: 0s, 0.5s;
          transition-duration: 0s, 0.5s;
}

/* line 27, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/slideshow.css.sass */
.slideshow-slides-container-wrapper {
  width: 800px;
  padding: 30px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -430px;
  background-color: white;
  bottom: 60px;
  padding-bottom: 262px;
}

/* line 38, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/slideshow.css.sass */
.slideshow-slides-container {
  width: 100%;
  height: 100%;
}

/* line 43, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/slideshow.css.sass */
.close-slideshow {
  position: absolute;
  top: -45px;
  right: -45px;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 30px;
  background-color: #f1f1f1;
  height: 34px;
  line-height: 29px;
  padding: 0 8px;
  border-radius: 50%;
}
/* line 55, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/slideshow.css.sass */
.close-slideshow:hover {
  background-color: #f9bf1c;
}
/* line 1, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/video.css.sass */
section.video {
  text-align: center;
}

/* line 4, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/video.css.sass */
.video-item {
  margin-bottom: 40px;
  position: relative;
}
/* line 4, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/wysihtml5.css.sass */
div[data-role=wysihtml5-input] .admin-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 6, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/wysihtml5.css.sass */
div[data-role=wysihtml5-input] .admin-link {
  margin: 0 0 5px 5px;
  text-decoration: none;
  padding: 3px 8px;
  color: white;
  background-color: #2c2c2c;
  border-radius: 3px;
  float: left;
  cursor: pointer;
}
/* line 15, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/wysihtml5.css.sass */
div[data-role=wysihtml5-input] .admin-link:hover {
  background-color: #f9bf1c;
}
/* line 17, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/wysihtml5.css.sass */
div[data-role=wysihtml5-input] .admin-link.wysihtml5-command-active {
  background-color: #f9bf1c;
}
/* line 19, /Users/annawojcieszek/Projekty/amnat/app/assets/stylesheets/normal/wysihtml5.css.sass */
div[data-role=wysihtml5-input] iframe {
  min-height: 300px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

