.comments-wrapper{ data: { role: "comments-wrapper" } }
  %section.comments{ data: { role: "comments" } }
    .show-comments-link-wrapper
      = link_to t(".show_comments", count: news.comments.count), "#", class: "show-comments-link", data: { role: "show-comments-link" }
    %ul.comments-list
      - news.comments.ordered.each do |comment|
        %li.comment-item
          .comment-author-wrapper
            %span.comment-text= t(".added")
            %span= short_date(comment.created_at)
            %span.comment-text= t(".by")
            %span.comment-author= comment.author
          .comment-content
            = comment.content
          = admin_menu do
            = admin_link_to "delete", "Usuń komentarz", comment_path(comment), method: :delete, data: { confirm: "Jesteś pewien, że chcesz usunąć ten komentarz?" } if can? :destroy, Comment

    %section.add-comment
      %h2= t(".add_comment")
      = simple_form_for @comment do |f|
        = f.input :content
        .two-inputs
          = f.input :author
          = f.input :humanizer_answer, label: @comment.humanizer_question
        = f.input :humanizer_question_id, as: :hidden
        = f.input :news_post_id, as: :hidden, input_html: { value: news.id }
        = f.button :submit