%h2= t(".closest_events")
%ul.news-posts-events
  - @events.each do |event|
    %li.news-post-event-item
      = link_to event_path(event) do
        .date= event.date
        .event-content
          = event.short_title
          = event.city
        .clearfix
      %nav.event
        %i.icon.small-grey-right-arrow
        %i.icon.small-yellow-right-arrow
      = admin_menu do
        = admin_link_to "edit", "Edytuj wydarzenie", edit_event_path(event) if can? :edit, Event
        = admin_link_to "delete", "Usuń wydarzenie", event_path(event), method: :delete, data: { confirm: "Jesteś pewien, że chcesz usunąć to wydarzenie?" } if can? :destroy, Event
        
%footer.news-posts-events-footer
  = link_to events_path, class: "more" do
    %span Wszystkie wydarzenia
    %i.icon.small-yellow-right-arrow
    %i.icon.small-grey-right-arrow
  