= admin_menu(inline: true) do
  = admin_link_to "new", "Dodaj aktualność", new_news_post_path if can? :create, NewsPost
  = admin_link_to "new", "Dodaj wydarzenie", new_event_path if can? :create, Event
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page

%section.news-posts
  .left-column
    %ul.news-posts-list
      - @news_posts.each do |news|
        %li.news-post-item
          .news-post-header
            .news-post-calender
              .news-post-day= news.day
              .news-post-month= news.month
            %h1.news-post-title= news.title
            .clearfix
          .clearfix
          .news-post-content= news.content
          = news.image
          = admin_menu do
            = admin_link_to "edit", "Edytuj aktualność", edit_news_post_path(news) if can? :edit, NewsPost
            = admin_link_to "delete", "Usuń aktualność", news_post_path(news), method: :delete, data: { confirm: "Jesteś pewien, że chcesz usunąć tę aktualność?" } if can? :destroy, NewsPost
        
          =# render "comments", news: news
                
    = paginate @news_posts
          
        
        
  .right-column
    = render "events"

  .clearfix