= simple_form_for @group do |f|
  .form-inputs
    .three-inputs
      = f.input :name
      = f.input :number
      = f.input :level, collection: group_levels_collection_for_select, input_html: { value: @group.level }
    
    %div{ data: { component: "nested-form-objects" } }
      = link_to "Dodaj dzień", "#", data: { role: "add-object" }

      %div{ data: { role: "objects-container" } }
        - f.object.trainings.each_with_index do |training, index|
          = render "trainings/fields", f: f, training: training, index: index

      %script{ type: "text/html", data: { role: "template" } }
        = render "trainings/fields", f: f, training: TrainingDay.new, index: "{{index}}"
    
  .form-actions
    = f.button :submit