%div{ data: { role: "sortable", :"update-url" => order_groups_path } }
  = admin_menu(inline: true) do
    = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
    = admin_link_to "new", "Dodaj grupę", new_group_path if can? :create, Group
    = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page
    = admin_link_to "sort_horizontal", "Zmień kolejność", "#", data: { action: "toggle-sort" } if can? :sort_order, Group
    = admin_link_to "create_week_meetings", "Otwórz zapisy na kolejny tydzień", new_meeting_path if can? :create, Meeting

  - if Meeting.active.count > 1
    %p.meetings-date-range
      %span Otwarte zapisy od
      %span= format_meeting_date(Meeting.first_active_date)
      %span do
      %span= format_meeting_date(Meeting.last_active_date)
  %table.schedule
    %thead
      %tr
        %th
        %th= t(".monday")
        %th= t(".tuesday")
        %th= t(".wednesday")
        %th= t(".thursday")
        %th= t(".friday")
    %tbody{ data: { role: "sortable-list" } }
      - @groups.each do |group|
        %tr.sortable-item{ id: group.sortable_id }
          %td.group{ class: group.level }
            = group.name
            %span.group-number= group.number
            = admin_menu do
              = admin_link_to "edit", "Edytuj grupę", edit_group_path(group) if can? :edit, Group
              = admin_link_to "delete", "Usuń grupę", group_path(group), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć tę grupę?" } if can? :destroy, Group
          - TrainingDay::DAY_NAMES.each do |day_name|
            - meeting = group.get_meeting(day_name).try(:decorate)
            %td.training-day
              - if meeting.present?
                = meeting.users_count(with_number: true)
                - if meeting.open? && !meeting.with_user?(current_user)
                  - if current_user.nil?
                    = link_to new_user_session_path, class: "sign-up-link" do
                      %span.sign-up= t("meeting.sign_up")
                      %span.sign-up-date= "(#{meeting.event_at_formatted})"
                  - else
                    = link_to sign_up_user_meeting_path(current_user, meeting.id), method: :post, class: "sign-up-link",
                      data: { confirm: "Czy na pewno chcesz się zapisać na zajęcia #{meeting.event_at_formatted}" } do
                      %span.sign-up= t("meeting.sign_up")
                      %span.sign-up-date= "(#{meeting.event_at_formatted})"
              = group.training_day(day_name)
              - if meeting.present? && meeting.with_user?(current_user)
                = meeting.sign_up_message(current_user)

- Group::LEVELS.each do |level|
  %p
    = t(".color")
    %span.group-color{ class: level }
    = t(".#{level}_group")
