- @breadcrumb = t("account_settings")

= simple_form_for @user do |f|
  = f.input :email, disabled: true
  = f.input :first_name, label: t("user.first_name")
  = f.input :last_name, label: t("user.last_name")
  = f.button :submit