= admin_menu(inline: true) do 
  = admin_link_to "new", "Dodaj użytkownika", new_user_path if can? :create, User

%ul
  - @users.each do |user|
    %li
      = user.email
      = admin_menu do 
        = admin_link_to "delete", "Usuń użytkownika", user_path(user), method: :delete,
          data: { confirm: "Jesteś pewien, że chcesz usunąć tego użytkownika?" } if can? :destroy, User
  