%h1.form Zmiana hasła

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :patch }) do |f|
  .form-inputs
    = f.hidden_field :reset_password_token
    = f.input :password, label: "Nowe hasło"
    = f.input :password_confirmation, label: "Powtórz nowe hasło"
  .form-actions
    = f.submit "Zmień hasło"
