%h1 Zapomniałeś hasła?

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true
  .form-actions
    = f.button :submit, "Wyślij instrukcję resetowania hasła"
    = render "devise/shared/links"
