= admin_menu(inline: true) do 
  = admin_link_to "new", "Dodaj video", new_video_path if can? :create, Video
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page
  
%section.video
  - @videos.each do |video|
    .video-item
      = video.link.html_safe
      = admin_menu do 
        = admin_link_to "delete", "Usuń video", video_path(video), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć ten film?" } if can? :destroy, Video
  