= simple_form_for @event do |f|
  .form-inputs
    = f.input :title
    = f.input :description, as: :wysihtml5
    = f.input :starts_at
    = f.input :venue
    = f.input :city
    = f.input :image, as: :file
  .form-actions
    = f.button :submit