= admin_menu(inline: true) do 
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page

%section.calendar
  = month_calendar events: @events do |date, events|
    - if events.empty?
      .date= date.strftime("%d")
      .city-and-title-wrapper
        .event-gap
    - else
      .date.event= date.strftime("%d")
      - events.each do |event|
        .city-and-title-wrapper
          = link_to event do
            .event-title= event.title
          .event-city= event.city