= admin_menu(inline: true) do 
  = admin_link_to "edit", "Edytuj wydarzenie", edit_event_path(@event), method: :get if can? :edit, Event
  = admin_link_to "delete", "Usuń wydarzenie", event_path(@event), data: { confirm: "Na pewno chcesz usunąć to wydarzenie?" }, method: :delete if can? :destroy, Event

%section.event
  %header.event-header
    .event-date
      .event-date-wrapper= @event.date_with_details
    .event-details
      %h1= @event.title
      = @event.venue
      = @event.city
    .clearfix
  .event-description-wrapper
    = @event.description
    = @event.image
    .clearfix