= simple_form_for @page do |f|
  .form-inputs
    = f.input :title
    = f.input :menu_title
    = f.input :menu, as: :enum
    = f.input :slug unless @page.special?
    = f.input :parent_id, as: :select, collection: Page.all, include_blank: true
    - f.object.main_contents.each_with_index do |content, index|
      = f.simple_fields_for :contents_attributes, content, index: index do |fi|
        = fi.input :id, as: :hidden
        = fi.input :content, as: :wysihtml5
    .separating-line
    %fieldset
      %legend SEO
      = f.simple_fields_for :seo do |fs|
        = fs.input :title
        = fs.input :description
  .form-actions  
    = f.button :submit
    = link_to t("cancel"), root_path