= admin_menu(inline: true) do 
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page

%section.two-columns.contact
  .left-column
    %h2= t(".address")
    %p ul. Cystersów 3
    %p 31-553 Kraków
    %p tel. 662 132 334
    %p.email email: &#107;&#108;&#117;&#098;&#064;&#097;&#109;&#110;&#097;&#116;&#046;&#112;&#108;
    = @page.content.try(:html_safe)
    
  .right-column
    %h2= t(".map")
    #map

  -#%aside.right-column
  -#  .ask-question
  -#    %h2= t(".ask_question")
  -#    %p.before-ask-tip= t(".before_ask").html_safe
  -#
  -#    = simple_form_for @message do |f|
  -#      = f.input :email
  -#      = f.input :title
  -#      = f.input :content
  -#      = f.input :humanizer_answer, label: @message.humanizer_question
  -#      = f.input :humanizer_question_id, as: :hidden
  -#      = f.button :submit
  .clearfix
    
.clearfix