%ul.admin-menu
  %li
    %a.admin-link{ "data-wysihtml5-command" => "bold", title: t(".commands.bold") } B
  %li
    %a.admin-link{ "data-wysihtml5-command" => "italic", title: t(".commands.italic") } I
%ul.admin-menu
  %li
    .admin-link{ "data-wysihtml5-command" => "createLink", title: t(".commands.link") } Link

%ul.admin-menu
  %li
    %a.admin-link{ "data-wysihtml5-command" => "insertOrderedList", title: t(".commands.ordered_list") } OL
  %li
    %a.admin-link{ "data-wysihtml5-command" => "insertUnorderedList", title: t(".commands.unordered_list") } UL

.dialog{ "data-wysihtml5-dialog" => "createLink", style: "display: none" }
  %label
    #{t(".link")}:
    %input{ "data-wysihtml5-dialog-field" => "href", value: "http://" }/
  %ul.admin-menu
    %li
      %a.admin-link{ href: "#", "data-wysihtml5-dialog-action" => "save" }= t(".ok")
    %li
      %a{ href: "#", "data-wysihtml5-dialog-action" => "cancel" }= t(".cancel")