- @breadcrumb = t(".login")

.two-columns.login
  .left-column
    = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" } do |f|
      .form-inputs
        = f.input :email
        = f.input :password
        = f.input :remember_me, as: :boolean, wrapper: :inline if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, t(".login_action")
        = render "devise/shared/links"
  .right-column
    %p Nie masz konta?
    = link_to "Zarejestruj się!", new_user_registration_path, class: "sign-up-btn btn"
  .clearfix

