= simple_form_for @coach do |f|
  .form-inputs
    = f.input :image, as: :file
    = f.input :name
    = f.input :personal_training_price
    = f.input :description, as: :wysihtml5
  .form-actions
    = f.button :submit