= admin_menu(inline: true) do
  = admin_link_to "new", "Dodaj trenera", new_coach_path, method: :get if can? :create, Coach
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  = admin_link_to "edit", "Edytuj stronę - Kadra", edit_page_path(Page.where(name: "team").first), method: :get if can? :edit, Page

%ul.coaches-list
  - @coaches.each do |coach|
    %li.coach-item
      .coach-photo= image_tag coach.image.default.url, alt: "coach name"
      .coach-name= coach.name
      .coach-description= coach.description.try(:html_safe)
      = admin_menu do
        = admin_link_to "edit", "Edytuj trenera", edit_coach_path(coach) if can? :edit, Coach
        = admin_link_to "destroy", "Usuń trenera", coach_path(coach), method: :delete if can? :edit, Coach
.clearfix