%div{ data: { component: "nested-form-object", index: index } }

  = f.fields_for :images_attributes, image, index: index do |ci|
    %div{ data: { role: "image-preview" } }
      - unless image.new_record?
        = image_tag image.image.thumb
    = ci.input :image, as: :file, input_html: { data: { role: "file-input" } }
    = ci.input :id, as: :hidden
    = ci.input :_destroy, as: :hidden, input_html: { data: { role: "destroy-input" } }
    
  %a{ href: "#", title: t("helpers.remove"), data: { role: "toggle-remove", :"restore-text" => t("helpers.restore") } }
    %span.remove Usuń
    %span.restore Przywróć
    
  .clearfix