= simple_form_for @gallery do |f|
  .form-inputs
    = f.input :short_title
    = f.input :title
  
    %div{ data: { component: "nested-form-objects" } }
      = link_to "Dodaj zdjęcie", "#", data: { role: "add-object" }

      %div{ data: { role: "objects-container" } }
        - f.object.images.each_with_index do |image, index|
          = render "gallery_images/fields", f: f, image: image, index: index

      %script{ type: "text/html", data: { role: "template" } }
        = render "gallery_images/fields", f: f, image: GalleryImage.new, index: "{{index}}"
        
  .form-actions
    = f.button :submit