%div{ data: { role: "sortable", :"update-url" => order_galleries_path } }
  = admin_menu(inline: true) do
    = admin_link_to "new", "Dodaj album", new_gallery_path, method: :get if can? :create, Gallery
    = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
    = admin_link_to "edit", "Edytuj stronę - Media", edit_page_path(Page.where(name: "media").first), method: :get if can? :edit, Page
    = admin_link_to "delete", "Usuń stronę", page_path(@page), data: { confirm: "Na pewno chcesz usunąć tę stronę?" }, method: :delete if can? :destroy, Page
    = admin_link_to "sort_horizontal", "Zmień kolejność", "#", data: { action: "toggle-sort" } if can? :sort_order, Gallery

  %ul.gallery-list{ data: { masonry: "true", role: "sortable-list" } }
    - @galleries.each do |album|
      %li.gallery-item.sortable-item{ id: album.sortable_id }
        = link_to album, class: "album-link", data: { role: "slideshow-open" } do
          =# image_tag album.images.first.image.medium, alt: album.short_title
          .album-title
            %span= album.short_title
        = admin_menu do
          = admin_link_to "edit", "Edytuj album", edit_gallery_path(album), method: :get if can? :edit, Gallery
          = admin_link_to "delete", "Usuń album", gallery_path(album), data: { confirm: "Na pewno chcesz usunąć ten album?" }, method: :delete if can? :destroy, Gallery
    .clearfix
          