%div{ data: { role: "gallery-carousel" } }
  %ul.album-list{ data: { role: "gallery-list" } }
    - @gallery.images.each do |image|
      %li.album-item{ data: { role: "gallery-item" } }= image_tag image.image.big
    %div.hidden{ data: { role: "gallery-prev" } }
      %i.icon.left-yellow-arrow
    %div{ data: { role: "gallery-next" } }
      %i.icon.right-yellow-arrow
      
  .gallery-footer
    %nav.gallery-nav
      %div{ data: { role: "gallery-nav-wrapper" } }
        %ul.gallery-navigation{ data: { role: "gallery-nav" } }
          - @gallery.images.each do |image|
            %li{ data: { role: "gallery-nav-item" } }= image_tag image.image.thumb
          .clearfix
      %div.hidden{ data: { role: "gallery-nav-prev" } }
        %i.icon.small-yellow-left-arrow
      %div{ data: { role: "gallery-nav-next" } }
        %i.icon.small-yellow-right-arrow
      
    .gallery-title= @gallery.title