%h2= "Witaj #{@email} !"

%p Potwierdź swoje konto w serwisie amnat.pl, korzystając z linku zamieszczonego poniżej:

%p= link_to 'Potwierdzam konto', user_confirmation_url(confirmation_token: @token)
