.admin-panel-menu
  = admin_menu(inline: true) do
    = admin_link_to "edit", "Ustawienia konta", edit_user_path(current_user) if can? :edit, current_user
    = admin_link_to "index", "Administratorzy", users_path, method: :get if can? :manage, User
    = admin_link_to "index", "Wiadomości", messages_path, method: :get if can? :read, Message
    = admin_link_to "index", "Moje treningi", user_meetings_path(current_user), method: :get if can? :read, Meeting