= admin_menu(inline: true) do
  = admin_link_to "new", "Dodaj slajd", new_slide_path if can? :create, Slide
  = admin_link_to "edit", "Edytuj stronę", edit_page_path(@page), method: :get if can? :edit, Page
  
.slide-wrapper{ data: { role: "carousel" } }
  = render "online_registration"
  %ul.slides-list{ data: { role: "carousel-list" } }
    - @slides.ordered.each do |slide|
      %li.slide-item{ data: { role: "carousel-item" } }
        = image_tag slide.image.default.url
        = admin_menu do
          = admin_link_to "edit", "Edytuj slajd", edit_slide_path(slide) if can? :edit, Slide 
          = admin_link_to "delete", "Usuń slajd", slide_path(slide), method: :delete if can? :destroy, Slide 
      
  %nav.carousel-navigation
    .prev{ data: { action: "previous-carousel-item" } }
      %i.icon.left-yellow-arrow
    .next{ data: { action: "next-carousel-item" } }
      %i.icon.right-yellow-arrow
      
  %nav.circle-navigation
    - @slides.count.times do
      .circle{ data: { role: "nav-item" } }