%footer.main-footer
  .footer-wrapper
    %nav.main-footer-nav
      %div{ data: { role: "sortable", :"update-url" => order_pages_path } }
        = link_to "amnat.pl", "http://amnat.pl", class: "link-to-main-page"
        %ul.footer-pages-list{ data: { role: "sortable-list" } }
          - pages_in_menu(:side).each do |page|
            %li.footer-page-item{ id: page.sortable_id, class: page.active_class }= menu_link_to page
          = admin_menu do
            = admin_link_to "new", "Dodaj stronę", new_page_path if can? :create, Page
            = admin_link_to "sort_horizontal", "Zmień kolejność", "#", data: { action: "toggle-sort" } if can? :sort_order, Page
      .facebook-icon
        = link_to "https://www.facebook.com/pages/Am-Nat-Muay-Thai-Gym/132415253441391" do
          = image_tag "facebook-icon.png", alt: "facebook"
      .clearfix
            
    .footer-separating-line
    
    .footer-block
      %h1.footer Zobacz także
      %ul
        %li= link_to t("shared.footer.polish_muaythai"), "http://www.pzmuaythai.pl/", target: "blank"
        %li= link_to "IFMA", "http://www.ifmamuaythai.org/", target: "blank"
        %li= link_to "WMC", "http://www.wmcmuaythai.org/", target: "blank"
          
    .footer-block
      %h1.footer Na skróty
      %ul
        %li= link_to t("shared.footer.schedule"), groups_path
        %li= link_to t("shared.footer.ask_question"), contact_path
        %li= link_to t("shared.footer.most_popular_questions"), page_path("faq")
          
    .footer-block
      %h1.footer Kontakt
      %ul.footer-contact
        %li
          %i.icon.phone
          %span 662 132 334
        %li
          %i.icon.mail 
          %span klub@amnat.pl
        %li
          %i.icon.address
          %span ul. Cystersów 3, Kraków
          
    .clearfix
          
    .footer-separating-line
    
    %span.copyrights © 2014 Am Nat
        
    
    