%header.main-header
  .top-header-menu-wrapper
    .top-header-menu
      .top-header-menu-left
        %menu.switch-languages-buttons
          %li= link_to "PL", localized_path(:pl)
          %li= link_to "EN", localized_path(:en)
          %li= link_to "RU", localized_path(:ru)
          %li.facebook-icon
            = link_to "https://www.facebook.com/pages/Am-Nat-Muay-Thai-Gym/132415253441391", target: "blank" do
              = image_tag "facebook-icon.png", alt: "facebook"
      .top-header-menu-right
        - if current_user.present?
          = render "user_panel"
          = link_to t("log_out"), destroy_user_session_path, method: :delete, class: "sign-in-button"
        - else
          = link_to t("sign_in"), new_user_session_path, class: "sign-in-button"
  .clearfix
  .header-navigation-wrapper

    %nav.header-navigation
      .logo
        = link_to root_path do
          = image_tag "logo.png", alt: "logo"
      %div{ data: { role: "sortable", :"update-url" => order_pages_path } }
        .min-menu-wrapper
          #min-menu
            %i.icon.menu
        %ul.main-header-navigation{ data: { role: "sortable-list" } }
          - pages_in_menu(:main).each do |page|
            %li.main-page.sortable-item{ id: page.sortable_id, class: page.active_class, data: { role: "main-pages-item" } }
              %span= menu_link_to page
              - if page.children.any?
                .subpages-wrapper
                  %ul.subpages
                    - PageDecorator.decorate_collection(page.children).each do |subpage|
                      %li.subpage{ id: subpage.sortable_id, class: subpage.active_class }
                        %span= menu_link_to subpage
          = admin_menu do
            = admin_link_to "new", "Dodaj stronę", new_page_path if can? :create, Page
            = admin_link_to "sort_horizontal", "Zmień kolejność", "#", data: { action: "toggle-sort" } if can? :sort_order, Page
        .clearfix
