%section.home-info-boxes
  .home-info-boxes-wrapper

    .home-info-box
      %header 
        %h1= @club_page.title
      %p= @club_page.content
      %footer
        = link_to friendly_page_path(@club_page), class: "more" do
          %span= t("shared.more")
          %i.icon.small-yellow-right-arrow
          %i.icon.small-grey-right-arrow
    
    .home-info-box
      %header 
        %h1= @muaythai_page.title
      %p= @muaythai_page.content
      %footer
        = link_to friendly_page_path(@muaythai_page), class: "more" do
          %span= t("shared.more")
          %i.icon.small-yellow-right-arrow
          %i.icon.small-grey-right-arrow
    
    .home-info-box.last
      %header 
        %h1= @events_page.title
      %p= @events_page.content
      %footer
        = link_to friendly_page_path(@events_page), class: "more" do
          %span= t("shared.more")
          %i.icon.small-yellow-right-arrow
          %i.icon.small-grey-right-arrow
        
    
    .clearfix