.slideshow.overlay{ data: { role: "slideshow" } }
  .slideshow-slides-container-wrapper{ data: { role: "slides-container-wrapper" } }
    = link_to "#", data: { action: "close-slideshow" }, class: "close-slideshow" do 
      %span ×
    .slideshow-slides-container{ data: { role: "slides-container" } }
    