%menu.user-panel-menu
  %li= link_to "Lista zapisów", meetings_path, method: :get if can? :index, Meeting
  %li= link_to "Użytkownicy", users_path, method: :get if can? :index, User
  -#%li= admin_link_to "index", "Wiadomości", messages_path, method: :get if can? :read, Message
  %li= link_to "Moje treningi", user_meetings_path(current_user), method: :get if can? :read, Meeting
  %li= link_to "Moje konto", edit_user_path(current_user) if can? :edit, current_user

