= simple_form_for [@page, @content] do |f|
  .inputs-form
    = f.input :title
    = f.input :content, as: :wysihtml5
  .actions  
    = f.button :submit
    = link_to t("cancel"), friendly_page_path(@page)

