!!!
%html{lang: I18n.locale}
  %head
    %title= page_title Seo::DEFAULT_TITLE
    = seo_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = favicon_link_tag "favicon.ico"
    %meta{name: "viewport", content: "width=device-width, maximum-scale=1, minimum-scale=1"}
    = csrf_meta_tags

  %body
    = render "header"
    = render "breadcrumbs" unless params[:controller] == "home"
    = flash_message
    = render "carousel" if params[:controller] == "home"
    = render "info_boxes" if params[:controller] == "home"
    %main.main-content= yield
    = render "footer"
    = render "slideshow"
    = render "scroll_top"
