!!!
%html{lang: I18n.locale}
  %head
    %title= page_title Seo::DEFAULT_TITLE
    = seo_tags
    = stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.ico"

    = csrf_meta_tags

  %body
    .container-fluid= yield
