= simple_form_for @member, wrapper: :bootstrap_horizontal, html: { class: "form-horizontal" } do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :date_of_birth
  = f.input :status, as: :enum
  = f.input :email
  = f.input :phone
  = f.input :description

  = f.button :submit, class: "btn-primary"
  lub
  = link_to "Anuluj", members_path, class: "btn"
