= link_to "Dodaj członka", new_member_path, class: "btn btn-primary"

%table.table.table-striped
  %thead
    %tr
      %th Nazwisko
      %th Imię
      %th Status
      %th
  %tbody
    - @members.each do |member|
      %tr
        %td= member.last_name
        %td= member.first_name
        %td= status_label(member.status)
        %td
          .btn-group
            = link_to "Pokaż", member_path(member, token: member.token), class: "btn btn-info"
            = link_to "Edytuj", edit_member_path(member, token: member.token), class: "btn btn-warning"