.page-header
  .pull-left
    %h3
      = @member.name
      = @member.group_name
      = status_label(@member.payment_status)
  .pull-right= link_to "Edytuj", edit_member_path(@member), class: "btn btn-default"
  .clearfix
.row
  .col-sm-2 Data urodzin
  .col-sm-10= @member.date_of_birth
.row
  .col-sm-2 Email
  .col-sm-10= @member.email
.row
  .col-sm-2 Nr telefonu
  .col-sm-10= @member.phone
.row
  .col-sm-2 Dodatkowe informacje
  .col-sm-10= @member.description


.page-header
  .pull-left
    %h3 Historia płatności
  .clearfix
.row
  = link_to "Dodaj płatność", "#", data: { action: "add-payment" }
  = simple_form_for [@member, @member.payments.build], wrapper: :bootstrap_horizontal, html: { class: "form-horizontal" } do |f|
    = f.input :amount
    = f.input :comment, as: :text
    = f.input :group_id, as: :select, collection: Group.all, label_method: :name, value_method: :id, include_blank: false


    = f.button :submit, class: "btn-primary"
    lub
    = link_to "Anuluj", "#", class: "btn"
- @member.ordered_payments.each do |payment|
  .row
    .col-sm-2 Data wpłaty
    .col-sm-10= payment.created_at
  .row
    .col-sm-2 Ważność
    .col-sm-10= payment.due_date
  .row
    .col-sm-2 Kwota
    .col-sm-10= payment.amount
  .row
    .col-sm-2 Grupa
    .col-sm-10= payment.group_name
  .row
    .col-sm-2 Komentarz
    .col-sm-10= payment.comment
  %hr



